$baseFontSize: 75;
$font-size-base: 16px; //基础字体大小
@function r($px){//$px为需要转换的字号
    @return $px / $baseFontSize * 1rem;
}
@mixin px2rems($pxs){
    @each $key, $value in $pxs{
        #{$key}: $value/$baseFontSize * 1rem;
    }
}
.personal-center-wrapper{
    width:r(750);
    height:100vh;
    background:#fff;
    color:#333;
    font-size:r(32);
}
 