@charset "UTF-8";
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
ul ,dl, ol{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    width:1349px;
    font:12px "microsoft yahei"
}
header{
    height: 30px;
    background: url("../img/logo.png")no-repeat 29px 5px #323232;
    padding-right: 30px;
}
header .u1{
    height: 30px;
    margin-left: 116px;
    float: left;
}
header .u1>li{
    padding-right: 30px;
    float: left;
    font-size: 14px;
    line-height: 30px;
    color: #c0c0c0;
    position:relative;
    font-weight: bold;
}
header .u1 >li:nth-child(4n){
    background: url("../img/ico1.png") no-repeat 30px center;
}
header .u1 >li:nth-child(5){
    color: #10b041;
}
header .u1 >li:hover{
    color: #10b041;
}
header .u1 >li:nth-child(4n):hover{
    background: url("../img/ico.png")no-repeat 30px center;
}
header .u1 >li> span{
    display: inline-block;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background: #10b041;
}
header .u1 >li:nth-child(4){
    padding-right: 46px;
}
header .u1 >li:nth-child(4):hover .u2{
    display:block;
}
header .u1 li .u2{
    height: 146px;
    width: 185px;
    /*background: url("../img/j.png")no-repeat left 4px ;*/
    border-radius: 3px;
    position: absolute;
    left:-10px;
    top:30px;
    padding-top: 9px;
    background: #fff;
    border:1px solid #f6f6f6;
    display: none;
    z-index: 9999;
}
header >a,header input{
    float: right;
}
header >a{
    height: 30px;
    width:30px;
    font-size: 14px;
    line-height:30px;
    color: #c0c0c0;
    font-weight: bold;
}
header >a:hover{
    color: #10b041;
}
header >a:nth-of-type(1),header a:nth-of-type(2){
    margin-left: 14px;
}
header >a:nth-of-type(5){
    background: url("../img/line1.png") no-repeat left center,url("../img/icon.png")no-repeat -1px #999;
}
header >a:nth-of-type(4){
    background: url("../img/icon.png")no-repeat -47px #999;
}
header> a:nth-of-type(3){
    background: url("../img/icon.png")no-repeat -77px #999;
}
header >a:nth-of-type(3):hover,header a:nth-of-type(4):hover,header a:nth-of-type(5):hover{
    background-color: #10b041;
}
header >a:nth-of-type(5){
    width: 48px;

}
header input{
    margin: 5px 0 0 0;
    height:20px;
    border:none;
    outline: none;
}
header input:first-of-type{
    margin-right: 6px;
    width: 30px;
    border-radius: 0 3px 3px  0;
    background:url("../img/ico4.png")no-repeat 5px #323232;
}
header input:last-of-type{
    width:90px;
    border-radius: 3px 0 0 3px;
    display: none;
}
.u2 >li{
    font-size:16px;
    height: 32px;
    line-height: 32px;
    color: #636363;
    text-indent:40px;
    font-weight: normal;
    position: relative;

}

.u2 >li:last-child{
    text-indent: 20px;
}
.u2 >li:first-child{
    background:url("../img/j.png")no-repeat left -6px,url("../img/ico2.png")no-repeat 114px center;
}
.u2 >li:nth-child(2){
    background:url("../img/j.png")no-repeat left -38px
}
.u2 >li:nth-child(3){
    background:url("../img/j.png")no-repeat left -70px
}
.u2 >li:hover{
    background-color: #e3fae1;
}
header .u1 li .u3{
    height: 210px;
    width: 125px;
    background: #fff;
    position:absolute;
    left:-10px;
    bottom: -210px;
    z-index: 999999;
    padding-top:10px;
    display: none;
}
header .u1 li .u3 li{
    height:32px;
    line-height: 32px;
    text-indent:40px;

}
header .u1 li .u3 li a{
    font-size:16px;
    color: #636363;
    font-weight: normal;
}
header .u1 li .u3 li:nth-child(1){
    background: url("../img/jing2.png") no-repeat 10px -10px;
}
header .u1 li .u3 li:nth-child(2){
    background: url("../img/jing2.png") no-repeat 10px -42px;
}
header .u1 li .u3 li:nth-child(3){
    background: url("../img/jing2.png") no-repeat 10px -74px;
}
header .u1 li .u3 li:nth-child(4){
    background: url("../img/jing2.png") no-repeat 10px -106px;
}
header .u1 li .u3 li:nth-child(5){
    background: url("../img/jing2.png") no-repeat 10px -138px;
}
header .u1 li .u3 li:nth-child(6){
    background: url("../img/jing2.png") no-repeat 10px -170px;
}
.u2 span,.u3 span{
    display:inline-block;
    border:6px solid transparent;
    border-bottom:6px solid #fff;
    position:absolute;
}
.u2 span{
    bottom:144px;
    left: 20px;
}
.u3 span{
    bottom:209px;
    left: 20px;
}
.u1 >li:nth-child(8):hover .u3{
    display:block;
}
.u3 li:hover{
    background-color: #e3fae1!important;
}

.search{
    height:120px;
    /*background:linear-gradient(bottom,red,blue) ;*/
    background: -webkit-linear-gradient(#50c972, #0fbfa6); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#50c972, #0fbfa6); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#50c972, #0fbfa6); /* Firefox 3.6 - 15 */
    background: linear-gradient(#50c972, #0fbfa6); /* 标准的语法 */
}
.search >img{
    margin: 32px 0 0 115px;
}
.search >img,.search input,.search .right{
    float: left;
    outline: none;
}
.search input:first-of-type{
    height: 40px;
    width: 360px;
    border: none;
    margin:40px 0 0 94px;
    border-radius: 20px 0 0 20px;
    text-indent: 25px;
    font-size: 14px;
    color:#c0c0c0;
    /*font-weight: bold;*/
    font-family: "microsoft yahei";
}
.search input:last-of-type{
    height: 40px;
    width: 119px;
    background: url("../img/line.png")no-repeat left center,url("../img/sear.png")no-repeat 26px 10px #fff;
    border-radius: 0 20px 20px 0;
    font-size: 20px;
    text-indent: 33px;
    border: none;
    margin:40px 0 0 0;
    color:#00b2a8;
    /*font-weight: bold;*/

}
.search .right{
    width: 434px;
    height: 120px;
    background: url("../img/head-wordbg.png") no-repeat 11px;
}
.search .right .phone{
    height:104px;
    width: 64px;
    background: url("../img/top-app-bg.png")no-repeat;
    margin-left: 230px;
    padding:0.1px;
    position:relative;
}
.search .right .phone img,.search .right .phone span{
    display: block;
}
.search .right .phone img{
    height:32px;
    width: 22px;
    margin:18px 0 0 18px;
}
.search .right .phone span{
    color: #fff;
    padding:8px 0 0 13px;
    font-size: 16px;
    position: absolute;
    left:0;
    top:50px;
}
.search .right .phone:hover img{
    margin-top: 13px;
    transition: all ,0.3s;
}
nav{
    height:50px;
}
nav ul{
    height:50px;
    margin-left:95px;
}
nav ul li{
    height:50px;
    line-height: 50px;
    font-size: 16px;
    float: left;
    padding:0 30px;
    position:relative;
}
nav ul li:first-child{
    color:#00b081;
}
nav ul li:hover{
    background-color: #f5f5f5;
    color:#00b081;
}
nav ul li img{
    position:absolute;
    left:68px;
    top:2px;
    height: 12px;
}
nav ul li span{
    position:absolute;
    border:3px solid transparent;
    border-top:3px solid #d0392a ;
    border-left:3px solid #d0392a ;
    left: 99px;
    top:14px;
}
.outter{
    position:relative;
}
.outter,.swiper-container{
    height:420px;
}
.citys{
    height: 420px;
    width: 280px;
    background: rgba(0,0,0,0.5);
    position:absolute;
    top:0;
    left: 95px;
    z-index: 999;
    padding-top:10px;
    /*position: relative;*/
}
.citys li{
    height: 57px;
    border-bottom: 1px solid rgba(153,153,153,0.5);
}
.citys li:last-child{
    border:none;

}
.citys li h4{
    height:29px;
    color:#fff;
    font-size:18px;
    font-weight:normal;
    line-height: 38px;
    text-indent: 52px;
}
.citys li p{
    text-indent: 52px;
    padding-top: 1px;

}
.citys li p a{
    color:#999;
    font-size: 14px;
    padding-right: 4px;
}
.citys >li:hover h4{
    color: #000;
}
.contenBox{
    height: 399px;
    width: 700px;
    position: absolute;
    top:10px;
    left: 280px;
    background: #fff;
    display: none;
    padding-left: 40px;
    /*position: relative;*/
    /*padding: 0.1px;*/
}
.addbg{
   background-color: #fff!important;
}

.contenBox h3{
    height: 69px;
    width:290px ;
    font-size: 23px;
    line-height: 81px;
    /*margin:0 0 20px 0;*/
    border-bottom:1px solid #ececec;
}
.contenBox div{
    width:290px;
    height: 199px;
}
.contenBox div:nth-of-type(3){
    position:absolute;
    left: 370px;
    top:0;
}
.contenBox div p{
    text-indent:0;
    line-height: 24px;
}
.contenBox div p a{
    color: #000;
}
.contenBox div p a:hover{
    color: #118855;
    text-decoration: underline;
}
.contenBox img{
    height: 163px;
    width: 291px;
    position:absolute;
    right: 41px;
    bottom: 29px;
}
.citys >li:nth-child(6) .contenBox,.citys >li:nth-child(6) .contenBox div{
    width: 370px;
}
.citys >li:nth-child(6) .contenBox img{
    height: 80px;
    width: 80px;
    margin: 0 25px 20px 0;
    position: static;
}
.citys >li:nth-child(6) .contenBox h3{
    height: 69px;
    width:290px ;
    font-size: 23px;
    line-height: 81px;
    margin:0 0 20px 0;
    border-bottom:1px solid #ececec;
}
.citys >li:nth-child(4) .contenBox div{
    float: left;
    margin-right:37px;
}
.citys >li:nth-child(5) .contenBox div:nth-of-type(1){
    margin-bottom: 20px;
}
.main .tab_img{
    height:150px;
    padding:20px 0 0 95px;
}
.main .tab_img a{
    margin-right:20px;
}
.main h2{
    height: 105px;
    font-size: 36px;
    line-height: 105px;
    text-indent:95px;
    float: left;

}
.main .sold{
    height: 280px;
    background:#f5f5f5;
}
.main .sold >p{
    float: left;
    width: 1020px;
    font-size: 14px;
    color:#636363;
    text-indent: 12px;
    padding-top:54px;
}
.main .sold >p a{
    float:right;
}
.main .sold >p a:hover{

}
.clear{
    clear: both;
}
.main .sold dl{
    height: 126px;
    width: 371px;
    float: left;
    margin-right: 25px;
}
.main .sold dl:first-of-type{
    margin-left:95px;
}
.main .sold dl dt{
    width: 120px;
    border-top:6px solid #474747;
    float: left;
    height: 126px;
}
.main .sold dl dd{
    width:251px;
    border-top:6px solid #ff7467;
    float: left;
    height: 126px;
    background:#fff;
}
.main .sold dl dd p:nth-of-type(1){
    padding:10px 0 0 20px;
    font-size: 17px;
    line-height: 24px;
    height:60px;
}
.main .sold dl dd p:nth-of-type(2){
    height: 59px;
    padding: 20px 0 0 134px;
}
.main .sold dl dd p:nth-of-type(2){
    color:darkgray;
}
.main .sold dl dd p:nth-of-type(2) span{
    font-size: 24px;
    color:#ff7467;
}
.main .sold dl:hover dt img{
    opacity: 0.7;
}
.main .sold dl:hover dd{
    box-shadow :1px 1px 10px gray;
}
.main .hotel{
    height: 709px;
}
.main .hotel h2 span{
    font-size: 14px;
    color:#636363;
    font-weight:normal;
    padding-left: 11px;
}
.main .hotel .hotelLists{
    height:105px;
    float: left;
    width:688px;
    padding-left:92px;
}
.main .hotel .hotelLists li{
    height: 105px;
    padding:50px 30px 0 0;
    float: left;
}
#hotelLists,#hotelLists1{
    width: 742px;
    padding-left:112px;

}
#hotelLists1{
    margin-left: 24px;
}
.main .hotel .hotelLists li:last-child{
    padding-right: 0;
}
.main .hotel .hotelLists li a{
    font-size:16px;
    color:#636363;
    display: inline-block;
    padding-bottom: 7px;
}
.main .hotel .hotelLists li a:hover{
    border-bottom:3px solid #16c1a0;
    color:#16c1a0;
}
.tab_hotel .innerInfo div{
    float:left;
    height:267px;
    width: 275px;
    position:relative;
    border: 1px solid #ececec;
    margin:0 20px 20px 0;
}
.tab_hotel .innerInfo div p:first-of-type{
    position:absolute;
    left: 0;
    bottom:82px;

}
.tab_hotel .innerInfo div p:nth-of-type(2){
    padding:17px 0 0 14px;
    font-size: 17px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.tab_hotel .innerInfo div img{
    height: 183px;
    width: 275px;
    vertical-align: top;
}
#tab_hotel .innerInfo div img{
    height: 160px;
}
.tab_hotel .innerInfo div:nth-of-type(1),.tab_hotel .innerInfo div:nth-of-type(1) img{
    width:570px ;
    height:266px;
}
#tab_hotel .innerInfo div:nth-of-type(1) img{
    width:570px ;
    height:266px;
}
#tab_hotel .innerInfo div p,#tab_hotel .innerInfo div p span{
    background: none;
}
#tab_hotel .innerInfo div p span b{
    color: #ff7467;
}
.tab_hotel .innerInfo,.tab_hotel{
    height: 606px;
}
.tab_hotel .innerInfo{
    padding-left: 95px;
    position:absolute;
    left:0;
    top:0;
    background-color: #fff;
}
.tab_hotel{
    overflow: hidden;
    position: relative;
    background-color: #fff;
}
.tab_hotel .innerInfo div p:nth-of-type(1){
    height:37px;
    line-height: 37px;
    width: 169px;
    background: rgba(0,0,0,0.5);
    font-size: 15px;
    color:#fff;
    text-indent: 14px;
}
.tab_hotel .innerInfo div p:nth-of-type(1) span{
    display:inline-block;
    height: 37px;
    width: 107px;
    background: #ff7467;
    float: right;
    font-size: 12px;
}
#tab_hotel .innerInfo div p:nth-of-type(1){
    bottom: 0;
    left: 112px;
}
#tab_hotel .innerInfo div:nth-of-type(1) p:nth-of-type(1){
    bottom: 0;
    left: 410px;
}
#tab_hotel .innerInfo div:nth-of-type(1) p:nth-of-type(2){
    bottom: 0;
    /*left: 410px;*/
    width: 430px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#tab_hotel .innerInfo div:last-of-type img{
    height: 64px;
}
#tab_hotel .innerInfo div p:nth-of-type(1) span b{
    font-size: 22px;
}
#tab_hotel .innerInfo div p:nth-of-type(1) span{
    color: #999;
}
.tab_hotel .innerInfo div p:nth-of-type(1) span b{
    font-size: 20px;
    font-weight: normal;
}
.tab_hotel .innerInfo div:nth-of-type(1) p{
    position: absolute;
    background: rgba(0,0,0,0.5);
    color:#fff;
}
.tab_hotel .innerInfo div:nth-of-type(1) p:nth-of-type(2){
    height: 49px;
    bottom:33px;
    width:570px;
    font-size: 19px;
    line-height: 51px;
    text-indent: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
}
.tab_hotel .innerInfo div:nth-of-type(1) p:nth-of-type(3){
    bottom:-1px;
    height: 34px;
    width:570px;
    font-size: 13px;
    text-indent: 15px;
    color: #9a9895;
}
/*.hotel:nth-of-type(1) */.tab_hotel .innerInfo div:last-of-type{
    background: url("../img/long.png");
}
/*.hotel:nth-of-type(2) .tab_hotel .innerInfo div:last-of-type*/#lastInfo{
    background: url("../img/long1.png");
}
.tab_hotel .innerInfo div:last-of-type span{
    display: block;
    height: 64px;
    width:64px;
    border-radius:50% ;
    overflow: hidden;
    margin-left:95px;
    /*border:1px solid white;*/
}
.tab_hotel .innerInfo div:last-of-type span img{
    height: 64px;
    width: 64px;
}
.tab_hotel .innerInfo div:last-of-type:hover span img{
    opacity: 0.8;
}
.tab_hotel .innerInfo div:last-of-type p:first-of-type{
    text-indent: 19px;
    position: static;
    background: none;
    height: 34px;
    width:126px;
    margin:48px 0 18px 74px;
    line-height: 24px;
}
.tab_hotel .innerInfo div:last-of-type p:last-of-type{
    height: 54px;
    width: 275px;
    line-height: 54px;
    margin-top:22px;
}
.tab_hotel .innerInfo div:last-of-type p:last-of-type a{
    padding:0 11px ;
    color:#fff;
    height: 15px;
    font-size: 15px;
    background: url("../img/ll.png")no-repeat right center;
}
.tab_hotel .innerInfo div:last-of-type p:last-of-type a:hover{
    text-decoration:underline;
}
.tab_hotel:nth-of-type(2) .innerInfo div:last-of-type p:last-of-type a{
    background: url("../img/ll.png")no-repeat right center;
}
.tab_hotel .innerInfo div:last-of-type p:last-of-type a:last-child{
    background: none;
}
#lastInfo1 span{
    border:3px solid #fff;
    background:url("../img/jian.png")no-repeat center center #ff6971;
    /*background-size: ;*/
}
#lastInfo1{
    background: #ff6971;
}
#lastInfo1:hover span{
    opacity: 0.4;
}
footer{
    height: 486px;

}
footer .foot1{
    height: 221px;
    background: #f5f5f5;
}

footer .foot1 .footnav{
    height:112px;
    padding-left:68px;
}
footer .foot1 .footnav li{
    height: 112px;
    float: left;
    padding:28px 41px 0 31px;
    background:url("../img/line2.png")no-repeat right 31px;
}
footer .foot1 .footnav li:hover a{
    color: #11af81;
}
footer .foot1 .footnav li:last-child{
    background: none;
}
footer .foot1 .footnav li a{
    font-size: 18px;
    color:#575757;
}
footer .foot1 dl{
    height:108px;
    width: 351px;
    float: left;
    margin:0 55px 0 0;
}
footer .foot1 dl:first-of-type{
    margin-left:95px;
}
footer .foot1 dl dt,footer .foot1 dl dt dd{
    float:left;
    height: 108px;
}
footer .foot1 dl dt{
    width:75px;
    background: url("../img/fo1.png")no-repeat left top;
}
footer .foot1 dl:nth-child(2) dt{
    background: url("../img/fo2.png")no-repeat left top;
}
footer .foot1 dl:nth-child(3) dt{
    background: url("../img/fo3.png")no-repeat left top;
}
footer .foot1 dl dd h5{
    font-size: 16px;
    font-weight:normal;
}
footer .foot1 dl dd p{
    color: #959595;
    line-height: 17px;
    margin-top: 2px;
}
footer .foot2{
    height: 265px;
    padding:52px 0 0 95px;
    background: url("../img/logo2.png")no-repeat 95px 48px #333333;
}
footer .foot2 p:first-of-type{
    width:540px;
    margin-left:206px;
    line-height: 24px;
    float: left;
}
footer .foot2 p,footer .foot2 a,footer .foot2 ul li{
    color: #c0c0c0;
    font-size: 14px;
}
footer .foot2 ul li{
    float: left;
}
footer .foot2 a:hover{
    text-decoration: underline;
}
footer .foot2 .footnav2{
    height: 50px;
    float: left;
    margin-left:91px;
}
footer .foot2 .footnav2 li{
    height: 50px;
    font-size: 17px;
    color: #fff;
    line-height: 50px;
}
footer .foot2 .footnav2 li a{
    display:inline-block;
    height: 48px;
    width:48px;
    border-radius: 50pc;
    border:1px solid #9a9895;
    vertical-align: top;
    margin-right:10px;
}
footer .foot2 .footnav2 li:first-child a{
    margin-left:21px;
}
footer .foot2 .footnav3,footer .foot2 p:nth-of-type(2){
    height: 27px;
}
footer .foot2 .footnav3{
    margin-top:44px;
}
footer .foot2 .footnav3 li{
    padding:0 20px 0 23px;
    background: url("../img/line3.png")no-repeat right center;
}
footer .foot2 .footnav3 li:nth-child(1){
    padding-left:0;
}
footer .foot2 .footnav4 {
    height: 30px;
}
footer .foot2 .footnav4 a{
    padding-right:13px;
}
footer .foot2 .footnav2 a{
    background: url("../img/icon111.png")no-repeat -1px -2px #fff;
}
footer .foot2 .footnav2 li:nth-child(2) a{
    background: url("../img/icon111.png")no-repeat -58px -2px #fff;
}
footer .foot2 .footnav2 li:nth-child(3) a{
    background: url("../img/icon111.png")no-repeat -117px -2px #fff;
}
footer .foot2 .footnav2 li:nth-child(4) a{
    background: url("../img/icon111.png")no-repeat -175px -2px #fff;
}
footer .foot2 .footnav2 li:nth-child(1):hover a{
    background-color: #f0d23f;
}
footer .foot2 .footnav2 li:nth-child(2):hover a{
    background-color: #7cd68b;
}
footer .foot2 .footnav2 li:nth-child(3):hover a{
    background-color: #ff7467;
}
footer .foot2 .footnav2 li:nth-child(4):hover a{
    background-color: #70d3e2;
}
.titleMarkers{
    position: absolute;
    top:52px;
    left: 318px;
    height: 124px;
    width:124px;
    border-radius: 50%;
    border:2px solid #fff;
    /*line-height: 124px;*/
    padding:24px 28px ;
    font-size: 30px;
    color: #fff;
}
.footnav2{
    position: relative;
}
.footnav2 li img{
    position: absolute;
}
.footnav2 li:nth-child(1) img,.footnav2 li:nth-child(2) img{
    top: -140px;
    left: 90px;
    display: none;
}
.footnav2 li:nth-child(4) img,.footnav2 li:nth-child(3) img{
    top: -90px;
    left: 90px;
    display: none;
}
.footnav2 li:hover img{
    display: block;
}
.threeBox{
    height: 352px;
    width:610px;
    border-radius: 3px;
    overflow: hidden;
    position: absolute;
    right: -615px;
    top:-10px;
    display: none;
}
.u2>li:nth-child(1):hover .threeBox{
    display: block;
}
.threeBox img{
    display: block;
    left: -650px;
    top:-20px;
}
.side{
    height: 154px;
    width: 50px;
    position: fixed;
    top:200px;
    right: 0;
    z-index: 999999;
    display: none;
}
.box1,.box2,.box3{
    height: 50px;
    border: 1px solid #999;
}
.box3{
    display: none;
}
.box3 a{
    display: block;
    height: 50px;
    background: url("../img/414141.png")no-repeat;
}
.box3 a:hover{
    background: url("../img/515151.png") no-repeat;
}
.box2{
    height: 49px;
    border-top: none;
    margin-bottom: 5px;
}
.box1{
    background: url("../img/212121.png")no-repeat;
}
.box1:hover{
    background: url("../img/212121.png")no-repeat 0 -48px;
    transition: all 0.3s;
}
.box2{
    background: url("../img/313131.png")no-repeat;
}
.box2:hover{
    background: url("../img/313131.png")no-repeat 0 -48px;
    transition: all 0.3s;
}
