<!DOCTYPE html>
<html>

    <head lang="en">
        @@include("include/header.htm",{ "title":"保险方案专家1对1量身定制", "keywords": "", "description": "" })
        <link rel="stylesheet" href="@@webRoot/lib/css/swiper-4.3.3.min.css">
    </head>

    <body>
        <!-- 加载动画 -->
        @@include("include/ready-ani.htm")
        @@include("include/crkHead.htm",{ "title":"保险方案专家1对1量身定制" })
        <div class="body-container customization_index">
            <!-- 弹出层信息 -->
            <div class="customization_index_mask"></div>

            <!-- 填写信息 -->
            <div class="userinfos_mask">
                <div class="usersInfo">
                    <!-- <div class="username userNames">
                        <span class="input_dev_span">您的称呼:</span>
                        <input type="text" maxlength='10' placeholder="请输入称呼" name="name">
                    </div> -->
                    <div class="usermobile phoneNumber">
                        <span class="input_dev_span">您的电话:</span>
                        <input style="background: #fff;" placeholder="请输入电话号码" name="phone">
                    </div>

                    <div class="usermobile codeNumber clearfix">
                        <span class="input_dev_span">验证码:</span>
                        <input style="background: #fff;" placeholder="请输入验证码" name="phone">
                        <span class="codeBtn">获取验证码</span>
                    </div>
                    <div class="usersInfo_desc">*填写真实的称呼,可以让我们更方便快速的联系到您呦~</div>
                </div>
                <div class="userbtn_mask"><span class="cel">取消</span><span class="enter">确定</span></div>
            </div>

            <div class="customization_index_mask_content">
                <div class="djs"></div>
                <div class="mask_content_title">选择方案定制类型</div>
                <div class="mask_content_list">

                </div>
                <div class="mask_content_btn"><span class="cel">取消</span><span class="enter">确定</span></div>
            </div>

            <div class="customization_index_content">
                <div class="customization_index_header">
                    <img src="@@webRoot/lib/images/customization/c01.jpg" alt="">
                </div>
                <div class="customization_index_swiper">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="swi_content">
                                    <div class="swi_content_header">
                                        <span class="header_pic">
                                            <img src="@@webRoot/lib/images/customization/c31.png" alt="">
                                        </span>
                                        <span class="header_name">fighting</span>
                                    </div>
                                    <div class="swi_content_desc">意外，重疾，医疗....，到底是选大公司还是小品牌，这该怎么办？</div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="swi_content">
                                    <div class="swi_content_header">
                                        <span class="header_pic">
                                            <img src="@@webRoot/lib/images/customization/c32.png" alt="">
                                        </span>
                                        <span class="header_name">空谷幽兰</span>
                                    </div>
                                    <div class="swi_content_desc">买了好几份保险，每年保费也交了不少，但是发现该保的不保，怎么办？</div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="swi_content">
                                    <div class="swi_content_header">
                                        <span class="header_pic">
                                            <img src="@@webRoot/lib/images/customization/c33.png" alt="">
                                        </span>
                                        <span class="header_name">风语</span>
                                    </div>
                                    <div class="swi_content_desc">家里大人小孩都要买保险，可以买一样的吗？</div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="swi_content">
                                    <div class="swi_content_header">
                                        <span class="header_pic">
                                            <img src="@@webRoot/lib/images/customization/c34.png" alt="">
                                        </span>
                                        <span class="header_name">飞翔</span>
                                    </div>
                                    <div class="swi_content_desc">我买了医疗险了，为啥还要买重疾险呢,两者之间有什么不同？</div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="swi_content">
                                    <div class="swi_content_header">
                                        <span class="header_pic">
                                            <img src="@@webRoot/lib/images/customization/c35.png" alt="">
                                        </span>
                                        <span class="header_name">若曦</span>
                                    </div>
                                    <div class="swi_content_desc">结节，乙肝，炎症....身体有这些小毛病，真的就再也买不了保险了吗？</div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="swi_content">
                                    <div class="swi_content_header">
                                        <span class="header_pic">
                                            <img src="@@webRoot/lib/images/customization/c36.jpg" alt="">
                                        </span>
                                        <span class="header_name">一念之间</span>
                                    </div>
                                    <div class="swi_content_desc">为什么同样的险种，保障内容也差不多，别人买的比我的更便宜？</div>
                                </div>
                            </div>

                        </div>
                        <!-- 如果需要分页器 -->
                        <div class="swiper-pagination"></div>
                    </div>
                    <div class="customization_index_content_info">
                        <div class="customization_index_content_info_item">
                            <div class="customization_index_content_info_item01">想要买到一份合适的保险</div>
                            <div class="customization_index_content_info_item02">到底要解决多少个这样的问题？</div>
                            <div class="customization_index_content_info_item03">买保险的难处 我们来解决</div>
                            <div class="customization_index_content_info_item04">1对1集中解答疑惑 专业分析各种风险</div>
                        </div>
                        <img src="@@webRoot/lib/images/customization/c03.jpg" alt="">
                        <div class="customization_index_content_info_item">
                            <div class="customization_index_content_info_item_box1"><span>为什么选择梧桐树保险网</span></div>
                            <div class="customization_index_content_info_item_box2">
                                <div class="customization_index_content_info_item_box2_item">
                                    <img src="@@webRoot/lib/images/customization/c37.png" alt="">
                                </div>
                                <div class="customization_index_content_info_item_box2_item">
                                    <img src="@@webRoot/lib/images/customization/c38.png" alt="">
                                </div>
                                <div class="customization_index_content_info_item_box2_item">
                                    <img src="@@webRoot/lib/images/customization/c39.png" alt="">
                                </div>

                            </div>
                            <div class="customization_index_content_info_item_box2">
                                <div class="customization_index_content_info_item_box2_item">
                                    <span class="info">安全可靠</span>
                                    <span class="desc">银保监会备案平台</span>
                                </div>

                                <div class="customization_index_content_info_item_box2_item">
                                    <span class="info">中立专业</span>
                                    <span class="desc">经纪人立场</span>
                                </div>

                                <div class="customization_index_content_info_item_box2_item">
                                    <span class="info">产品更优</span>
                                    <span class="desc">覆盖50多家<br>保险公司</span>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
                <div class="customization_index_footer">
                    <span class="customization_index_footer_btn my_scheme">我的方案</span>
                    <span class="customization_index_footer_btn active">立即定制</span>
                </div>
            </div>



            @@include("include/footer.htm")
            <script src="@@webRoot/lib/js/jquery.cookie.js"></script>
             
            <script src="@@webRoot/lib/js/swiper-4.3.3.min.js"></script>
            <!-- 选择方案列表 -->
            <script type="text/html" id="itemData">
             {{each data as value i}}
             {{if value}}
                <div class="item" data-id="{{value.id}}">
                    <div class="item_title">
                        <span class="desc">{{value.name}}</span>
                        {{if value.activityPrice && hasActivity}}
                            <i class="original_price">¥ {{value.originalPrice}}</i>
                            <span class="price">¥ {{value.activityPrice}}</span>
                        {{else}}
                            <span class="price">¥ {{value.originalPrice}}</span>
                        {{/if}}
                        
                    </div>
                    <div class="item_content">
                        <div class="item_content_title">
                            <div class="item_content_title_icon"><img src="@@webRoot/lib/images/customization/c07.png"
                                    alt=""></div>
                            <div class="item_content_title_info"><span>适合人群:</span>{{value.fitPeople}}</div>
                        </div>
                        <div class="item_content_title">
                            <div class="item_content_title_icon"><img src="@@webRoot/lib/images/customization/c08.png"
                                    alt=""></div>
                            <div class="item_content_title_info"><span>方案特色:</span>{{value.productFeature}}</div>
                        </div>
                    </div>
                </div>
                {{/if}}
             {{/each}}
        </script>
        <script src="@@webRoot/lib/js/layer.js"></script>
            <script>
                $(function () {
                    var id = 0;
                    var timeObj = null;
                    var hasActivity = false;
                    var login = wtsLogin;
                    var codeTime= null;
                    var enterFlag = true;
                    var t = 60;
                    sessionStorage.channel = $.getQueryString("c") || "";

                    login.init({ env: $.globedata.environment }, function (user) {
                        if(user && user.token)sessionStorage.setItem("token",user.token);
                        //微信分享
                        $.shareWx({
                            title: "保险方案专家1对1量身定制",
                            desc: '【限时领取】1对1专家咨询，个人及家庭保险方案量身定制。'
                        });

                        if($.tools().isWtsNativeApp()){
                            nativeApp.general.deviceready(function () {
                                nativeApp.weixin.initShare({
                                    router:"wts://share?type=1&link="+encodeURIComponent(window.location.href)+"&title="+encodeURIComponent("保险方案专家1对1量身定制")+"&content="+encodeURIComponent("【限时领取】1对1专家咨询，个人及家庭保险方案量身定制。")+"&logo="+encodeURIComponent("https://bx.wts999.com/m/lib/images/logo-3.jpg")
                                })
                            })
                        }
                        //轮播
                        var swiper = new Swiper('.swiper-container', {
                            slidesPerView: 1.4,
                            spaceBetween: 10,
                            autoplay: {
                                delay: 2500,
                                disableOnInteraction: false,
                            },
                            pagination: {
                                el: '.swiper-pagination'
                            },
                        });
                        //获取我的方案列表
                        getMyScheme();
                        var isShow = $.getQueryString("isshow");
                        if (isShow) {
                            mask_show();
                        }

                        //开启时间倒计时
                    function setIntervalTime(t, data) {
                        $(".customization_index_footer .active,.djs").html("限时抢购 " + formatDuring(t));
                        timeObj = setInterval(function () {
                            if (t > 1000) {
                                t = t - 1000;
                                $(".customization_index_footer .active,.djs").html("限时抢购 " + formatDuring(t));
                            } else {
                                // $(".customization_index_footer .active").html("立即定制");
                                // $(".djs").html("");
                                // clearInterval(timeObj);
                                // hasActivity = false;
                                // data.hasActivity = false;
                                // displayPlanList(data);
                                clearInterval(timeObj);
                                getEndTime(function (timeData) {
                                    var syear = new Date().getFullYear();
                                    var smonth = new Date().getMonth()+1*1;
                                    var sday = new Date().getDate();
                                    var StartDate = Date.parse(syear+"/"+smonth+"/"+sday+" 09:00:00");
                                    var NowDate = Date.parse(new Date());
                                    var EndDate = StartDate+86400*1000;
                                    // if (timeData && timeData.startTime && timeData.endTime && Date.parse(timeData.startTime.replace(/-/g, '/')) < NowDate && Date.parse(timeData.endTime.replace(/-/g, '/')) > NowDate) {
                                    //     var startTime = Date.parse(timeData.startTime.replace(/-/g, '/'));
                                    //     var endTime = Date.parse(timeData.endTime.replace(/-/g, '/'));
                                    //     var time = endTime - NowDate;
                                    //     setIntervalTime(time, data);
                                    //     hasActivity = true;
                                    //     data.hasActivity = true;
                                    //     displayPlanList(data);
                                    // } else {
                                    //     hasActivity = false;
                                    //     data.hasActivity = false;
                                    //     $(".djs").html("");
                                    //     $(".customization_index_footer .active").html("立即定制");
                                    //     displayPlanList(data);
                                    // }

                                    if (timeData && timeData.endTime && Date.parse(timeData.endTime.replace(/-/g, '/')) > NowDate) {
                                        var time = EndDate - NowDate;
                                        if(NowDate<StartDate){
                                            time = StartDate-NowDate;
                                        }
                                        setIntervalTime(time, data);
                                        hasActivity = true;
                                        data.hasActivity = true;
                                        displayPlanList(data);
                                    } else {
                                        hasActivity = false;
                                        data.hasActivity = false;
                                        $(".djs").html("");
                                        $(".customization_index_footer .active").html("立即定制");
                                        displayPlanList(data);
                                    }
                                })
                            }
                        }, 1000)
                    }

                        // 将秒转化为时间
                        function formatDuring(mss) {
                            var hours = parseInt(mss / (1000 * 60 * 60));
                            var minutes = parseInt((mss % (1000 * 60 * 60)) / (1000 * 60));
                            var seconds = (mss % (1000 * 60)) / 1000;
                            hours = hours < 10 ? ('0' + hours) : hours;
                            minutes = minutes < 10 ? ('0' + minutes) : minutes;
                            seconds = seconds < 10? ('0' + seconds) : seconds;
                            return  hours + ":" + minutes + ":" + seconds;
                        }

                        function getMyScheme() {
                            $.ajaxPackage({
                                type: "post",
                                url: "/fsservers/servers/api/list",
                                data: JSON.stringify({ type: 1, status: 1 }),
                                contentType: "application/json",
                                async: true,
                                success: function (data, isError) {
                                    if (!isError) {
                                        return;
                                    };
                                    if (data.httpCode != 200) {
                                        return;
                                    }
                                    $(".lz-readys").hide();
                                    getEndTime(function (timeData) {
                                        var syear = new Date().getFullYear();
                                        var smonth = new Date().getMonth()+1*1;
                                        var sday = new Date().getDate();
                                        var StartDate = Date.parse(syear+"/"+smonth+"/"+sday+" 09:00:00");
                                        var NowDate = Date.parse(new Date());
                                        var EndDate = StartDate+86400*1000;
                                        // if (timeData && timeData.startTime && timeData.endTime && Date.parse(timeData.startTime.replace(/-/g, '/')) < NowDate && Date.parse(timeData.endTime.replace(/-/g, '/')) > NowDate) {
                                        //     var startTime = Date.parse(timeData.startTime.replace(/-/g, '/'));
                                        //     var endTime = Date.parse(timeData.endTime.replace(/-/g, '/'));
                                        //     var time = endTime - NowDate;
                                        //     setIntervalTime(time, data);
                                        //     hasActivity = true;
                                        //     data.hasActivity = true;
                                        //     displayPlanList(data);
                                        // } else {
                                        //     hasActivity = false;
                                        //     data.hasActivity = false;
                                        //     $(".customization_index_footer .active").html("立即定制");
                                        //     displayPlanList(data);
                                        // }

                                        if (timeData && timeData.endTime && Date.parse(timeData.endTime.replace(/-/g, '/')) > NowDate) {
                                            var time = EndDate - NowDate;
                                            if(NowDate<StartDate){
                                                time = StartDate-NowDate;
                                            }
                                            setIntervalTime(time, data);
                                            hasActivity = true;
                                            data.hasActivity = true;
                                            displayPlanList(data);
                                        } else {
                                            hasActivity = false;
                                            data.hasActivity = false;
                                            $(".customization_index_footer .active").html("立即定制");
                                            displayPlanList(data);
                                        }
                                    })
                                },
                                error: function (XMLHttpRequest, textStatus, errorThrown) {
                                    console.log(textStatus);
                                }
                            });
                        }

                        //显示计划列表
                        function displayPlanList(data) {
                            var itemData = template("itemData", data); //模板渲染
                            for(var i=0;i<data.data.length;i++){
                                if(data.data[i]){
                                    id = data.data[i].id;
                                    break;
                                }
                            }
                            $(".mask_content_list").html(itemData);
                            $(".item").eq(0).addClass("active");
                            $(".item").eq(0).find(".item_content").show();
                            $(".lz-readys").hide();
                            //选择项的点击事件
                            $(".customization_index_mask_content .item").click(function () {
                                id = $(this).attr("data-id");
                                if ($(this).hasClass("active")) {
                                    return;
                                }
                                $(".customization_index_mask_content .item").removeClass('active');
                                $(".item").find(".item_content").hide(200);
                                $(this).addClass("active");
                                $(this).find(".item_content").show(200);
                            })
                        }

                        //获取活动截止时间
                        function getEndTime(callback) {
                            $.ajaxPackage({
                                type: "post",
                                url: "/fsservers/activies/api/active",
                                data: JSON.stringify({}),
                                contentType: "application/json",
                                async: true,
                                success: function (data, isError) {
                                    if (data.httpCode != 200) {
                                        return callback(false);
                                    }
                                    callback(data.data);
                                },
                                error: function (XMLHttpRequest, textStatus, errorThrown) {
                                    return callback(false);
                                }
                            });
                        }

                        //验证码状态重置
                        function codeInit(){
                            clearInterval(codeTime);
                            t=120;
                            $(".codeBtn").removeClass('active');
                            $(".codeBtn").html('获取验证码');
                        }

                        //我的方案的点击事件
                        $(".customization_index_footer .my_scheme").click(function () {
                            //判断是否绑定过手机号
                            if ($.tools().hasPhonrNumber(user)) {
                                window.location.href = "./my_scheme.html";
                            } else {
                                return window.location.href = window.location.origin + "/m/index.html#/BDmobileHtml?type=2&redUrl=" + window.location.href;
                            }

                        })

                        //立即定制的点击事件
                        $(".customization_index_footer .active").click(function () {
                            var heights = $(".mask_content_btn").height() + $(".customization_index_mask_content").height() * 1;
                            if (heights > $(".customization_index_mask").height()) {
                                $(".customization_index_mask_content").css({ "height": "100%", "overflow": "auto" });
                            }
                            mask_show();
                        })

                        //确定的点击事件
                        $(".mask_content_btn .enter").click(function () {
                            if(!user || !user.id){
                                return userinfos_mask_show();
                            }
                            $(".userbtn_mask .enter").click();
                        })

                        //获取验证码的点击事件
                        $(".codeNumber .codeBtn").click(function(){
                            if($(this).hasClass("active")){
                                return;
                            }
                            var phone = $.trim($(".phoneNumber input").val());
                            if(!phone || phone.length == 0){
                                return layer.msg("请先填写手机号在获取验证码!");
                            }

                            if (!$.regular().isPhone(phone)) {
                                return layer.msg("请输入正确的手机号");
                            }

                            //开启倒计时
                            $(".codeBtn").addClass('active');
                            $(".codeBtn").html(t+'s后重新发送');
                            codeTime = setInterval(function(){
                                if(t>1){
                                    t--;
                                    $(".codeBtn").html(t+'s后重新发送');
                                }else{
                                    codeInit();
                                }
                            },1000)

                            //发送请求
                            $.ajaxPackage({
                                type: "post",
                                url: "/captcha/send/captext?phone="+phone,
                                contentType: "application/json",
                                async: true,
                                success: function (data, isError) {
                                    if (!isError) {
                                        codeInit();
                                        return;
                                    };
                                },
                                error: function (XMLHttpRequest, textStatus, errorThrown) {
                                    codeInit()
                                    console.log(textStatus);
                                }
                            });
                        })

                        //确定的点击事件
                        $(".userbtn_mask .enter").click(function () {
                            // var username = $.trim($(".userNames input").val());
                            var phone = $.trim($(".phoneNumber input").val());
                            var code = $.trim($(".codeNumber input").val());
                            var ajaxUrl = "/uc/login/api/h5phoneRegister";
                            if($.tools().isWeiXin() || $.tools().isAL()){
                                ajaxUrl = "/uc/login/phoneRegister";
                            }
                            // if (!username) {
                            //     return layer.msg("请输入您的真实姓名!");
                            // }

                            if(!user || !user.id){
                                if (phone.length == 0) return layer.msg("请输入手机号!");
                                if (!$.regular().isPhone(phone))  return layer.msg("请输入正确的手机号!");
                                if (code.length == 0) return layer.msg("请输入验证码!");
                                
                                //加载动画
                                var load = layer.msg('正在验证手机号...', {
                                    icon: 16
                                    ,shade: 0.01
                                    });
                            }else{
                                //加载动画
                                var load = layer.msg('正在创建订单...', {
                                    icon: 16
                                    ,shade: 0.01
                                    });
                            }
                            if(!enterFlag){
                                return;
                            }
                            
                            var createOrder = {
                                type: "post",
                                url: "/fsservers/serversOrder/api/beginOrder",
                                contentType: "application/json",
                                async: true,
                                data: JSON.stringify({
                                    serverId:id,
                                    sourceChannel:sessionStorage.channel || ""
                                }),
                                success: function (data, isError) {
                                    enterFlag = true;
                                    if (!isError) {
                                        return;
                                    };
                                    if (data.httpCode != 200) {
                                        return;
                                    }
                                    layer.close(load);
                                    window.location.href = "./pay.html?id=" + data.data.id;
                                },
                                error: function (XMLHttpRequest, textStatus, errorThrown) {
                                    enterFlag = true;
                                    console.log(textStatus);
                                }
                            }


                            enterFlag = false;
                            if(user && user.id){
                                return $.ajaxPackage(createOrder);
                            }

                            //绑定手机号请求
                            $.ajaxPackage({
                                type: "post",
                                url: ajaxUrl,
                                contentType: "application/json",
                                async: true,
                                data: JSON.stringify({
                                    phone,
                                    captch:code
                                }),
                                success: function (result, isErrors) {
                                    if (!isErrors) {
                                        enterFlag = true;
                                        return;
                                    };

                                    sessionStorage.setItem("WTS_USER_3",JSON.stringify(result.data));
                                    userinfos_mask_hide();
                                    mask_hide();
                                    //创建订单
                                    $.ajaxPackage(createOrder);
                                },
                                error: function (XMLHttpRequest, textStatus, errorThrown) {
                                    enterFlag = true;
                                    console.log(textStatus);
                                }
                            });
                        })


                        //取消的点击事件
                        $(".mask_content_btn .cel").click(function () {
                            mask_hide();
                        })

                        $(".customization_index_mask").click(function(){
                        $(".userinfos_mask input").blur();
                    })

                        //取消的点击事件
                        $(".userbtn_mask .cel").click(function () {
                            userinfos_mask_hide();
                        })


                        //隐藏定制方案
                        function mask_hide() {
                            $(".customization_index_mask").hide();
                            $(".customization_index_mask_content").hide();
                        }

                        //显示定制方案
                        function mask_show() {
                            $(".customization_index_mask").show();
                            $(".customization_index_mask_content").show();
                        }

                        //隐藏用户信息
                        function userinfos_mask_hide() {
                            $(".customization_index_mask").css("z-index", "10");
                            $(".userinfos_mask").hide();
                            if(user && user.id){
                                $(".userNames input").val("");
                            }else{
                                $(".userinfos_mask input").val("");
                            }
                            

                        }
                        //显示用户信息
                        function userinfos_mask_show() {
                            $(".customization_index_mask").css("z-index", "12");
                            $(".userinfos_mask").show();
                        }

                    })
                })



            </script>
    </body>

</html>