<!DOCTYPE html>
<html>

<head lang="en">
    <!--测试环境-->
    @@include("include/header.htm",{ "title":"我们的梧桐树", "keywords": "", "description": "" })
    <link rel="stylesheet" href="@@webRoot/lib/css/swiper.min.css" />
</head>

<body>
    @@include("include/ready-ani.htm")
    <div class="body-container subject subject-box01">
            <!-- 头部 start -->
            <div class="subject-top-tap">
                <a class="sub-column fl" data-index="0" href="javascript:;">
                    <span class="txt">关于梧桐树</span>
                </a>
                <a class="sub-column fl" data-index="1" href="javascript:;">
                    <span class="txt">诚鼎保险公估</span>
                </a>
                <a class="sub-column fl" data-index="2" href="javascript:;">
                    <span class="txt">知途律所</span>
                </a>
                <a class="sub-column fl" data-index="3" href="javascript:;">
                    <span class="txt">梧桐树的荣誉</span>
                </a>
                <a class="sub-column fl" data-index="4" href="javascript:;">
                    <span class="txt">梧桐树爱心基金</span>
                </a>
            </div>
            <!-- 头部 end -->
            <!-- 理赔通道 start -->
            <div class="subject-switch subject-wts active" data-index="1" id="forsubmit2" name="forsubmit2">
                <img src="@@webRoot/lib/images/exercise/subject-wts/wts-01.jpg" class="img-t" style="min-height: 5rem;" alt="">
                <img src="@@webRoot/lib/images/exercise/subject-wts/wts-02.jpg" class="img-t lazy" data-loaded="false"
                    style="min-height: 5rem;" alt="">
                <img data-original="@@webRoot/lib/images/exercise/subject-wts/wts-03.jpg" src="@@webRoot/lib/images/blank_load.png"
                    class="img-t lazy" data-loaded="false" style="height: 8.453rem;" alt="">
                <img data-original="@@webRoot/lib/images/exercise/subject-wts/wts-04.jpg" src="@@webRoot/lib/images/blank_load.png"
                    class="img-t lazy" data-loaded="false" style="height: 5.133rem;" alt="">
                <div class="subject-wts-swiper1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="@@webRoot/lib/images/exercise/subject-wts/papers1.jpg" class=" img-t swiper-lazy" />
                        </div>
                        <div class="swiper-slide">
                            <img src="@@webRoot/lib/images/exercise/subject-wts/papers2.jpg" class="img-t swiper-lazy" />
                        </div>
                        <div class="swiper-slide">
                            <img src="@@webRoot/lib/images/exercise/subject-wts/papers3.jpg" class="img-t swiper-lazy" />
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <img data-original="@@webRoot/lib/images/exercise/subject-wts/wts-05.jpg" src="@@webRoot/lib/images/blank_load.png"
                    class="img-t lazy" data-loaded="false" style="height: 2.733rem;" alt="">
                <div class="subject-wts-swiper2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img data-src="@@webRoot/lib/images/exercise/subject-wts/wts-swiper01.png" class="img-t swiper-lazy" />
                            <div class="swiper-lazy-preloader"></div>
                        </div>
                        <div class="swiper-slide">
                            <img data-src="@@webRoot/lib/images/exercise/subject-wts/wts-swiper02.png" class="img-t swiper-lazy" />
                            <div class="swiper-lazy-preloader"></div>
                        </div>
                        <div class="swiper-slide">
                            <img data-src="@@webRoot/lib/images/exercise/subject-wts/wts-swiper03.png" class="img-t swiper-lazy" />
                            <div class="swiper-lazy-preloader"></div>
                        </div>
                        <div class="swiper-slide">
                            <img data-src="@@webRoot/lib/images/exercise/subject-wts/wts-swiper04.png" class="img-t swiper-lazy" />
                            <div class="swiper-lazy-preloader"></div>
                        </div>
                        <div class="swiper-slide">
                            <img data-src="@@webRoot/lib/images/exercise/subject-wts/wts-swiper05.png" class="img-t swiper-lazy" />
                            <div class="swiper-lazy-preloader"></div>
                        </div>
                        <div class="swiper-slide">
                            <img data-src="@@webRoot/lib/images/exercise/subject-wts/wts-swiper06.png" class="img-t swiper-lazy" />
                            <div class="swiper-lazy-preloader"></div>
                        </div>
                        <div class="swiper-slide">
                            <img data-src="@@webRoot/lib/images/exercise/subject-wts/wts-swiper07.png" class="img-t swiper-lazy" />
                            <div class="swiper-lazy-preloader"></div>
                        </div>
                        <div class="swiper-slide">
                            <img data-src="@@webRoot/lib/images/exercise/subject-wts/wts-swiper08.png" class="img-t swiper-lazy" />
                            <div class="swiper-lazy-preloader"></div>
                        </div>
                        <div class="swiper-slide">
                            <img data-src="@@webRoot/lib/images/exercise/subject-wts/wts-swiper09.png" class="img-t swiper-lazy" />
                            <div class="swiper-lazy-preloader"></div>
                        </div>
                        <div class="swiper-slide">
                            <img data-src="@@webRoot/lib/images/exercise/subject-wts/wts-swiper010.png" class="img-t swiper-lazy" />
                            <div class="swiper-lazy-preloader"></div>
                        </div>
                        <div class="swiper-slide">
                            <img data-src="@@webRoot/lib/images/exercise/subject-wts/wts-swiper011.png" class="img-t swiper-lazy" />
                            <div class="swiper-lazy-preloader"></div>
                        </div>
                        <div class="swiper-slide">
                            <img data-src="@@webRoot/lib/images/exercise/subject-wts/wts-swiper012.png" class="img-t swiper-lazy" />
                            <div class="swiper-lazy-preloader"></div>
                        </div>
                        <div class="swiper-slide">
                            <img data-src="@@webRoot/lib/images/exercise/subject-wts/wts-swiper013.png" class="img-t swiper-lazy" />
                            <div class="swiper-lazy-preloader"></div>
                        </div>
                        <div class="swiper-slide">
                            <img data-src="@@webRoot/lib/images/exercise/subject-wts/wts-swiper014.png" class="img-t swiper-lazy" />
                            <div class="swiper-lazy-preloader"></div>
                        </div>
                        <div class="swiper-slide">
                            <img data-src="@@webRoot/lib/images/exercise/subject-wts/wts-swiper015.png" class="img-t swiper-lazy" />
                            <div class="swiper-lazy-preloader"></div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <img data-original="@@webRoot/lib/images/exercise/subject-wts/wts-07.jpg" src="@@webRoot/lib/images/blank_load.png"
                    class="img-t lazy" data-loaded="false" style="height: 8.08rem;" alt="">
                <img data-original="@@webRoot/lib/images/exercise/subject-wts/wts-08.jpg" src="@@webRoot/lib/images/blank_load.png"
                    class="img-t lazy" data-loaded="false" style="height: 8.706rem;" alt="">
                <img data-original="@@webRoot/lib/images/exercise/subject-wts/wts-09.jpg" src="@@webRoot/lib/images/blank_load.png"
                    class="img-t lazy" data-loaded="false" style="min-height: 5rem;" alt="">
                <img data-original="@@webRoot/lib/images/exercise/subject-wts/wts-10.jpg" src="@@webRoot/lib/images/blank_load.png"
                    class="img-t lazy" data-loaded="false" style="min-height: 3rem;" alt="">
                <div class="subject-wts-swiper3">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="@@webRoot/lib/images/exercise/subject-wts/wts-company01.png" class="img-t swiper-lazy" />
                        </div>
                        <div class="swiper-slide">
                            <img src="@@webRoot/lib/images/exercise/subject-wts/wts-company02.png" class="img-t swiper-lazy" />
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <!-- 理赔通道 end -->
            <div class="subject-switch" data-index="1" id="forsubmit2" name="forsubmit2">
                <img src="@@webRoot/lib/images/exercise/subject02/subject02-img01.jpg" class="img-t" style="height: 8rem;"
                    alt="">
                <img src="@@webRoot/lib/images/exercise/subject02/subject02-img02.jpg" class="img-t lazy" data-loaded="false"
                    style="height: 8rem;" alt="">
                <img data-original="@@webRoot/lib/images/exercise/subject02/subject02-img03.jpg" src="@@webRoot/lib/images/blank_load.png"
                    class="img-t lazy" data-loaded="false" style="height: 8rem;" alt="">
                <img data-original="@@webRoot/lib/images/exercise/subject02/subject02-img04.jpg" src="@@webRoot/lib/images/blank_load.png"
                    class="img-t lazy" data-loaded="false" style="height: 8rem;" alt="">
                <img data-original="@@webRoot/lib/images/exercise/subject02/subject02-img05.jpg" src="@@webRoot/lib/images/blank_load.png"
                    class="img-t lazy" data-loaded="false" style="height: 8rem;" alt="">
                <img data-original="@@webRoot/lib/images/exercise/subject02/subject02-img06.jpg" src="@@webRoot/lib/images/blank_load.png"
                    class="img-t lazy" data-loaded="false" style="height: 8rem;" alt="">
                <img data-original="@@webRoot/lib/images/exercise/subject02/subject02-img07.jpg" src="@@webRoot/lib/images/blank_load.png"
                    class="img-t lazy" data-loaded="false" style="height: 8rem;" alt="">
                <img data-original="@@webRoot/lib/images/exercise/subject02/subject02-img08.jpg" src="@@webRoot/lib/images/blank_load.png"
                    class="img-t lazy" data-loaded="false" style="height: 8rem;" alt="">
                <img data-original="@@webRoot/lib/images/exercise/subject02/subject02-img09.jpg" src="@@webRoot/lib/images/blank_load.png"
                    class="img-t lazy" data-loaded="false" style="height: 8rem;" alt="">
                <img data-original="@@webRoot/lib/images/exercise/subject02/subject02-img10.jpg" src="@@webRoot/lib/images/blank_load.png"
                    class="img-t lazy" data-loaded="false" style="height: 8rem;" alt="">
                <img data-original="@@webRoot/lib/images/exercise/subject02/subject02-img11.jpg" src="@@webRoot/lib/images/blank_load.png"
                    class="img-t lazy" data-loaded="false" style="height: 8rem;" alt="">
                <img data-original="@@webRoot/lib/images/exercise/subject02/subject02-img12.jpg" src="@@webRoot/lib/images/blank_load.png"
                    class="img-t lazy" data-loaded="false" style="height: 8rem;" alt="">
                <img data-original="@@webRoot/lib/images/exercise/subject02/subject02-img13.jpg" src="@@webRoot/lib/images/blank_load.png"
                    class="img-t lazy" data-loaded="false" style="height: 4.67rem;" alt="">
            </div>
            <div class="subject-switch" data-index="2" id="forsubmit3" name="forsubmit3">
                <img src="@@webRoot/lib/images/exercise/subject03/subject03-img01.jpg" class="img-t" style="height: 3.613rem;"
                    alt="">
                <div class="subject03-switch01-txt switch-padding">
                    <p class="text-p">湖北知途律师事务所与梧桐树保险经纪达成长期的战略合作伙伴关系，为梧桐树的客户免费提供全方位的法律售后服务。</p>
                    <h3 class="txt-h3">智能法律咨询</h3>
                    <p class="text-p">知途律所通过在梧桐树保险经纪客服平台植入人工智能系统，可24小时在线为投保客户提供智能法律咨询、保险理赔咨询等法律服务。</p>
                    <h3 class="txt-h3">人工法律咨询</h3>
                    <p class="text-p">知途律所的专职律师可以为梧桐树保险经纪的客户提供直接的人工法律咨询服务，切实解决客户在理赔过程中遇到的法律问题，让客户在每一次的咨询中都感受到专业的法律服务态度及理念。</p>
                </div>
                <div class="subject03-switch02-txt switch-padding">
                    <div class="title-h3">
                        <h3>关于知途</h3>
                    </div>
                    <p class="text-p">湖北知途律师事务所是一家经湖北省司法厅批准，由武汉市江汉区司法局直属管理的合伙制律师事务所。</p>
                    <p class="text-p">知途拥有众多经验丰富的执业律师，法律业务领域涵盖面广，能够满足客户不同的需求，向客户提供不同领域及多层次法律服务。</p>
                    <p class="text-p">目前知途与国内包括保险业、证券业在内的数十家企业已建立起稳定的联系并提供了优质的服务。</p>
                    <img src="@@webRoot/lib/images/exercise/subject03/subject03-img02.jpg" class="switch02-img" alt="">
                </div>
                <div class="subject03-switch03-txt switch-padding">
                    <div class="title-h3">
                        <h3>团队情况</h3>
                    </div>
                    <p class="text-p">知途律所不仅拥有一支高素质的律师队伍，而且所有律师合伙人均具有五年以上的执业经验。为建立和培养一支客户可以信赖的高素质律师队伍，知途长期以来一直坚持优中选优的人才选拔原则，并为律师队伍提供专业培训。</p>
                    <p class="text-p">知途律师在工作中充分合作，精益求精，全心投入，为客户寻求真正有效和可靠的方案，运用知途的全部资源为知途的每一位客户竭诚提供优质、高效的法律服务。</p>
                </div>
                <div class="subject03-switch04-txt switch-padding">
                    <div class="title-h3">
                        <h3>服务领域</h3>
                    </div>
                    <p class="text-p">知途为客户提供各专业领域的法律服务，为满足向客户提供高度专业化法律服务的目标，知途设立了若干专门的业务部门，由在各专业领域具有专长的合伙人负责，遇有跨专业的业务时，其他各部门的律师或专业人员随时提供支持，确保为客户提供某一专业领域或同时涉及多个专业领域的法律服务。</p>
                </div>
                <img data-original="@@webRoot/lib/images/exercise/subject03/subject03-img04.jpg" src="@@webRoot/lib/images/blank_load.png"
                    class="img-t lazy" data-loaded="false" style="height: 8rem;" alt="">
                <img data-original="@@webRoot/lib/images/exercise/subject03/subject03-img05.jpg" src="@@webRoot/lib/images/blank_load.png"
                    class="img-t lazy" data-loaded="false" style="height: 8rem;" alt="">
                <img data-original="@@webRoot/lib/images/exercise/subject03/subject03-img06.jpg" src="@@webRoot/lib/images/blank_load.png"
                    class="img-t lazy" data-loaded="false" style="height: 6.24rem;" alt="">
                <div class="subject03-switch05-txt">
                    <div class="switch-border">
                        <div class="title-h3">
                            <h3>服务优势</h3>
                        </div>
                        <p class="text-p">自成立以来，知途在多个法律服务领域为国内多家企业、公司及机构等提供了优质的法律服务，并积累了丰富的经验。</p>
                        <p class="text-p">提供的法律服务涉及证券、保险、金融、贸易、媒体等行业领域。</p>
                        <p class="text-p">与客户、政府部门及立法机构均建立了密切和稳定的业务联系，这使知途能够及时了解和深入理解客户的不同需求并把握行业领域的最新动态，从而在中国的市场环境中为知途的客户提供更为及时和有效的法律服务。</p>
                        <p class="text-p">成立了若干专门的业务部门，为客户提供其他各专业领域的法律服务，以实现向客户提供多元化和专业化法律服务的目标。</p>
                    </div>
                </div>
                <img data-original="@@webRoot/lib/images/exercise/subject03/subject03-img07.jpg" src="@@webRoot/lib/images/blank_load.png"
                    class="img-t lazy" data-loaded="false" style="height: 4.75rem;" alt="">
            </div>
            <div class="subject-switch" data-index="3" id="forsubmit4" name="forsubmit4">
                <img src="@@webRoot/lib/images/exercise/subject-honor/1.jpg" class="img-t" style="min-height: 4rem;" alt="">
                <img src="@@webRoot/lib/images/exercise/subject-honor/2.jpg" class="img-t lazy" data-loaded="false" style="min-height: 4rem;"
                    alt="">
                <img data-original="@@webRoot/lib/images/exercise/subject-honor/3.jpg" src="@@webRoot/lib/images/blank_load.png"
                    class="img-t lazy" data-loaded="false" style="min-height: 4rem;" alt="">
                <img data-original="@@webRoot/lib/images/exercise/subject-honor/4.jpg" src="@@webRoot/lib/images/blank_load.png"
                    class="img-t lazy" data-loaded="false" style="min-height: 4rem;" alt="">
                <img data-original="@@webRoot/lib/images/exercise/subject-honor/5.jpg" src="@@webRoot/lib/images/blank_load.png"
                    class="img-t lazy" data-loaded="false" style="min-height: 4rem;" alt="">
                <img data-original="@@webRoot/lib/images/exercise/subject-honor/6.jpg" src="@@webRoot/lib/images/blank_load.png"
                    class="img-t lazy" data-loaded="false" style="min-height: 4rem;" alt="">
                <img data-original="@@webRoot/lib/images/exercise/subject-honor/7.jpg" src="@@webRoot/lib/images/blank_load.png"
                    class="img-t lazy" data-loaded="false" style="min-height: 4rem;" alt="">
                <img data-original="@@webRoot/lib/images/exercise/subject-honor/8.jpg" src="@@webRoot/lib/images/blank_load.png"
                    class="img-t lazy" data-loaded="false" style="min-height: 4rem;" alt="">
                <img data-original="@@webRoot/lib/images/exercise/subject-honor/9.jpg" src="@@webRoot/lib/images/blank_load.png"
                    class="img-t lazy" data-loaded="false" style="min-height: 4rem;" alt="">
                <img data-original="@@webRoot/lib/images/exercise/subject-honor/10.jpg" src="@@webRoot/lib/images/blank_load.png"
                    class="img-t lazy" data-loaded="false" style="min-height: 4rem;" alt="">
                <img data-original="@@webRoot/lib/images/exercise/subject-honor/11.jpg" src="@@webRoot/lib/images/blank_load.png"
                    class="img-t lazy" data-loaded="false" style="min-height: 4rem;" alt="">
            </div>
            <div class="subject-switch" data-index="4" id="forsubmit5" name="forsubmit4">
                <img src="@@webRoot/lib/images/exercise/subject-love/1.jpg" class="img-t" style="min-height: 4rem;" alt="">
                <div class="love-swiper-container">
                    <div class="swiper-wrapper" id="love_banners">
                        
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <img src="@@webRoot/lib/images/exercise/subject-love/2.jpg" class="img-t" style="min-height: 2rem;" alt="">
                <div class="love-content"  id="love_videos">
                </div>
                <img src="@@webRoot/lib/images/exercise/subject-love/3.jpg" class="img-t" style="min-height: 3rem;" alt="">
                <div class="billboard-box" id="love_tops">
                </div>
                <img data-original="@@webRoot/lib/images/exercise/subject-love/4.jpg" src="@@webRoot/lib/images/blank_load.png"
                    class="img-t lazy" data-loaded="false" style="min-height: 1rem;" alt="">
            </div>
        </div>
</body>
<!--底部公共部分-->
@@include("include/footer.htm")
<!--swiper 轮不同js-->
<script src="@@webRoot/lib/js/swiper-3.4.2.jquery.min.js"></script>
<!--新懒加载-->
<script src="@@webRoot/lib/js/jquery.lazyload.js"></script>
<script src="@@webRoot/lib/js/jquery.cookie.js"></script>
<script src="@@webRoot/lib/js/UserCenterHelper.js"></script>
<!-- 爱心基金banner -->
<script id="love_banner" type="text/html">
    {{each data as item i}}
    <div class="swiper-slide">
        <p class="title">{{item.title | subString:55}}</p>
        {{if item.imgUrl}}
        <img src="{{item.imgUrl[0].url}}" alt="" class="showImg">
        {{/if}}
    </div>
    {{/each}}
</script>
<!-- 爱心基金视频列表 -->
<script id="love_video" type="text/html">
    <ul class="uls clearfix">
    {{each data as item i}}
    {{if i < 4 }}
        <li>
            <a href="@@webRoot/exercise/subject-video.html?id={{item.articleId}}&code={{item.type}}">
                <div class="videoBox">
                    <img src="{{item.articleInfo.videoImg}}" alt="">
                    {{if item.articleInfo.articleType=='1'}}
                    <img src="@@webRoot/lib/images/start.png" alt="" class="start-img"> 
                    {{else}}
                    <img src="@@webRoot/lib/images/audio.png" alt="" class="start-img"> 
                    {{/if}}
                </div>
                <p class="dcp">
                    {{item.articleInfo.articleDesc | subString:35}}
                </p>
            </a>
        </li>
    {{/if}}
    {{/each}}
    </ul>
    {{each data as item i}}
    {{if i==0}}
    <a href="@@webRoot/exercise/subject-video.html?id={{item.articleId}}&code={{item.type}}" class="link">查看更多 &gt;</a>
    {{/if}}
    {{/each}}
    
</script>
<!-- 爱心基金榜单列表 -->
<script id="love_top" type="text/html">
    <div class="froms-box">
        <h3 class="title-1">在梧桐树买保险</h3>
        <h3 class="title-2">-&nbsp;&nbsp;保障自己&nbsp;&nbsp;助力公益&nbsp;&nbsp;-</h3>
        <div class="love-from-container">
            <div class="swiper-wrapper">
                {{each data as item i}}
                {{if item.itemId != "total"}}
                <div class="swiper-slide clearfix swiper-no-swiping">
                    <span>客户{{item.customer}}</span>
                    <span>员工{{item.staff}}</span>
                    <span>助力 <span class="money">{{item.amount}}</span> 元</span>
                </div>
                {{/if}}
                {{/each}}
            </div>
        </div>
        <p class="des">(实时更新最新助力)</p>
    </div>
    <div class="all-money">
        <p class="p1">目前，累计捐助爱心基金
            <span class="money">
                {{each data as item i}}
                {{if item.itemId == "total"}}
                {{item.amount}}
                {{/if}}
                {{/each}}
            </span>元
        </p>
        <p class="p2">（数据每周更新）</p>
    </div>
</script>
<script>
    function init(user) {
        var swiper_love = null;
        var pageJs;
        function ThisPage() {
            this.index = $.getQueryString("index") || "0";
        }
        ThisPage.prototype = {
            constructor: ThisPage,
            init: function () {
                var self = this;
                this.navActive();
                $("img.lazy").lazyload({
                    effect: "fadeIn",
                    threshold: 600
                }); //图片懒加载
                setTimeout(function () {
                    $(".lz-readys").remove()
                }, 200) //关闭动画
                this.navCheck(this.index)
            },
            // 理赔通道栏目切换
            navActive: function () {
                var self = this;
                $(".sub-column[data-index='" + this.index + "']").addClass("active");
                $(".subject-switch:eq(" + this.index + ")").addClass("active");
                $(".sub-column").click(function () {
                    if ($(this).hasClass("active")) return;
                    var index = $(this).attr("data-index");
                    self.navCheck(index)
                })
            },
            navCheck:function(i){
                $(".sub-column").eq(i).addClass("active").siblings().removeClass("active")
                $(".subject-switch:eq(" + i + ")").siblings().removeClass("active").end().addClass("active");
                this.beforeAction(i); //显示前行为
                this.subject[i].action(); //显示后行为
            },
            // 每个页面显示后事件
            subject: [{
                    type: 0, //监听是否执行过
                    action: function () {
                        console.log('切换tab');
                        if (this.type > 0) return;
                        new Swiper('.subject-wts-swiper2', {
                                    autoplay: 2000, //可选选项，自动滑动
                                    pagination: ".swiper-pagination",
                                    autoplayDisableOnInteraction: false,
                                    spaceBetween: 20,
                                    lazyLoading : true,
                                    lazyLoadingInPrevNext : true,
                                    lazyLoadingInPrevNextAmount : 2
                                });
                        new Swiper('.subject-wts-swiper1',{
                            autoplay : false,//可选选项，自动滑动
                            watchActiveIndex: true,
                            slidesPerView :1,
                            centeredSlides: true,
                            initialSlide:1,
                            pagination: ".swiper-pagination",
                        })
                        new Swiper('.subject-wts-swiper3', {
                            autoplay: false, //可选选项，自动滑动
                            pagination: ".swiper-pagination",
                        });
                        this.type++;
                    }
                },
                {
                    type: 0, //监听是否执行过
                    action: function () {
                        console.log('切换tab');
                    }
                },
                {
                    type: 0, //监听是否执行过
                    action: function () {
                        console.log('切换tab');
                    }
                },
                {
                    type: 0,
                    action: function () {
                        console.log('切换tab');
                    }
                },
                {
                    type: 0,
                    action: function () {
                        console.log('切换tab' + this.type);
                        if (this.type > 0) return;
                        pageJs.love_banner();
                        pageJs.love_video();
                        pageJs.love_top();
                        this.type++;
                    }
                }, 
            ],
            love_banner:function(){
                // 爱心基金-banner
                var paramList = {
                    url: "/app/infoConfig/api/getInfoByCode",
                    data: '{"code":"fundBanner"}',
                    contentType: "application/json;charset=UTF-8",
                    success: function (data, isError) {
                        console.log(data);
                        if (!isError) {
                            return;
                        }
                        var html = template("love_banner", data);
                        $("#love_banners").html(html);
                        new Swiper('.love-swiper-container', {
                            autoplay: 2000, //可选选项，自动滑动
                            autoplayDisableOnInteraction: false,
                            pagination: '.swiper-pagination',
                            spaceBetween: 20,
                        });
                    }
                }
                $.ajaxPackage(paramList);
            },
            love_video:function(){
                // 爱心基金-视频列表
                var paramList = {
                    url: "/app/infoConfig/api/getInfoByCode",
                    data: '{"code":"fundVideo"}',
                    contentType: "application/json;charset=UTF-8",
                    success: function (data, isError) {
                        console.log(data);
                        if (!isError) {
                            return;
                        }
                        var html = template("love_video", data);
                        $("#love_videos").html(html);
                    }
                }
                $.ajaxPackage(paramList);
            },
            love_top:function(){
                // 爱心基金-助力金排行
                var paramList = {
                    url: "/app/infoConfig/api/getInfoByCode",
                    data: '{"code":"fundTopn"}',
                    contentType: "application/json;charset=UTF-8",
                    success: function (data, isError) {
                        console.log(data);
                        if (!isError) {
                            return;
                        }
                        var html = template("love_top", data);
                        $("#love_tops").html(html);
                        if(data.data.length<8)return;
                        new Swiper('.love-from-container', {
                            autoplay: 2000, //可选选项，自动滑动
                            direction:'vertical',
                            slidesPerView: 8,
                            slidesPerGroup:3
                        });
                    }
                }
                $.ajaxPackage(paramList);
            },
            beforeAction: function (num) {
                $(window).scrollTop("0");
            }
        }
        pageJs=new ThisPage();
        pageJs.init()
    }
</script>

</html>