<div id="hbanner">
	<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
  			<img src="http://img.zcool.cn/community/0163fb5abd97c6a8012062e35d7649.jpg@1380w" alt="" />
        </div>
        <div class="swiper-slide">
        	<img src="http://img.zcool.cn/community/01708d5abda577a801218207cac2ea.png@1380w" alt="" />
        </div>
        <div class="swiper-slide">
        	<img src="http://img.zcool.cn/community/0180515abd972aa8012062e3a22ece.jpg@1380w" alt="" />
        </div>
    </div>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>
	</div>
</div>
