
.community {
  min-height: 100vh;
  position: relative;

  .hearders {
    background-color: #fff;
    width: 100%;
    padding: r(10) 0;
    margin-bottom: r(15);

    .center {
      width: 100%;
      height: r(85);
      background: url("../images/com-headers.jpg") no-repeat center center;
      background-size: cover;

      >a {
        display: inline-block;
        width: 33.2%;
        height: 100%;
        float: left;
      }
    }
  }

  .header {
    width: 100%;
    height: r(102);
    box-sizing: border-box;
    line-height: r(102);
    position: relative;
    background: #fff;
    overflow: hidden;
    border-bottom: 1px solid #e6e6e6;
    color: #000;
    vertical-align: middle;
    padding: r(20) 0;

    .titleName {
      display: inline-block;
      height: r(88);
      line-height: r(88);
      position: absolute;
    }

    .header-btn {
      box-sizing: border-box;
      width: 50%;
      height: r(62);
      display: inline-block;
      color: #000;
      float: left;
      line-height: r(62);
      font-size: r(28);
      text-align: center;

      .header-img {
        margin-right: r(15);
        width: r(60);
        position: relative;
        top: 1px;
        float: left;
        left: r(88);
      }
    }

    .header-btn:nth-of-type(1) {
      border-right: 1px solid #e6e6e6;
    }

  }

  .dlList {
    width: 100%;
    height: r(108);
    line-height: r(108);
    position: relative;
    overflow: hidden;
    // margin-top: r(15);
    background: #fff;
    padding-left: r(31);
    box-sizing: border-box;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;

    i {
      font-size: r(52);
      color: #999999;
      position: absolute;
      margin-left: r(28);
    }

    .myPhoto {
      width: r(66);
      height: r(66);
      margin-top: r(18);
      border-radius: r(5);
    }

    .dlList-username {
      top: r(18);
      display: inline-block;
      position: absolute;
      height: r(35);
      line-height: r(35);
      margin-left: r(20);
      color: #999999;
      font-size: r(28);

      a {
        color: #999999;
      }

      .emoji {
        vertical-align: middle;
        margin-top: r(-8);
      }
    }

    .dlList-say {
      font-size: r(28);
      top: r(53);
      display: inline-block;
      position: absolute;
      height: r(35);
      line-height: r(35);
      margin-left: r(20);
      color: #999999;

    }

    .dlList-question {
      background: #ff6e07;
      display: inline-block;
      font-size: r(32);
      color: white;
      text-align: center;
      line-height: r(72);
      width: r(200);
      height: r(70);
      position: absolute;
      border-radius: r(12);
      right: r(20);
      top: r(18);
    }

    .consultation {
      display: inline-block;
      width: r(240);
      height: r(80);
      line-height: r(80);
      border-radius: r(9);
      background: -webkit-linear-gradient(to right, #ff9205, #ff6e07);
      background: linear-gradient(to right, #ff9205, #ff6e07);
      color: #fff;
      font-size: r(28);
      position: absolute;
      right: r(24);
      top: r(12);
      text-align: center;

      img {
        @include remCalc(width, 36);
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
      }
    }

  }

  .lz-tab-box {
    width: 100%;
    padding: 0 25px;
    height: r(80);
    position: relative;
  }

  .lz-tab {
    position: relative;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    left: 0;
    width: 100%;
    height: r(80);
    background-color: #fff;
    padding: 0 25px;
    overflow: hidden;
    z-index: 99;
    border-bottom: 1px solid #e6e6e6;

    .swiper-wrapper {
      // width: 100%;
      height: 100%;
    }

    .swiper-slide {
      font-size: r(30);
      text-align: center;
      line-height: r(80);
      max-width: r(200);
      min-width: r(100);
      z-index: 2;
    }

    .button-prev,
    .button-next {
      position: absolute;
      top: 0;
      width: 25px;
      height: 100%;
      background-color: #fff;
      z-index: 10;
      overflow: hidden;

      i {
        font-size: r(50);
        color: #000;
        position: absolute;
        top: 50%;
        margin-top: r(-35);
      }
    }

    .swiper-button-disabled {
      i {
        color: #ccc;

      }
    }

    .button-prev {
      left: 0;

      i {
        left: 0;
      }
    }

    .button-next {
      right: 0;

      i {
        right: 2px;
      }
    }

    .active {
      border-bottom: 3px solid $baseColor;
      color: $baseColor;
    }

    .next-btn {
      width: r(50);
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      text-align: center;
      color: #c5c5c5;
      background-color: #fff;
      z-index: 10;
      box-shadow: -3px 0 5px rgb(255, 203, 177);

      .iconfont {
        font-size: r(36);
        position: absolute;
        top: 50%;
        right: 1px;
        margin-top: r(-30);
      }
    }
  }

  .mainContent {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;

    .postID {
      width: 100%;
      height: 100%;
      position: absolute;
      opacity: 0;
    }

    .mainList {
      width: 100%;
      height: auto;
      overflow: hidden;
      margin-top: r(15);
      position: relative;
      background: #fff;
      
      >dl {
        width: 100%;
        height: auto;
        overflow: hidden;

        >dt {
          width: 100%;
          height: r(120);
          padding: 0 r(30);
          box-sizing: border-box;
          position: relative;
          padding-top: r(20);

          .img-auther {
            width: r(70);
            height: r(70);
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 5px;
          }

          .textBox {
            position: relative;
            width: 100%;
            height: r(70);
            padding-left: r(85);

            .problemTip {
              display: block;
              height: r(50);
              line-height: r(50);
              position: absolute;
              top: r(10);
              right: 0;
              text-align: right;

              .problemTip-lib {
                display: inline-block;
                @include remCalc(height, 50);
                color: #9d9d9d;
                font-size: r(26);
                padding-right: r(15);
                text-align: left;

                i {
                  font-size: r(32);
                  float: right;
                }

                .problemname {
                  float: right;
                  right: r(16);
                  margin-left: r(10);
                  top: r(-2);
                  display: inline-block;
                  height: r(50);
                }

                .dianzan {
                  float: right;
                  display: inline-block;
                  @include remCalc(width, 40);
                  @include remCalc(height, 50);
                  background: url("../images/dianzan.png") no-repeat;
                  background-size: contain;
                  position: relative;
                  top: 2px;
                }

                .hasdianzan {
                  float: right;
                  display: inline-block;
                  @include remCalc(width, 40);
                  @include remCalc(height, 50);
                  background: url("../images/dianzan-02.png") no-repeat;
                  background-size: contain;
                  position: relative;
                  top: 2px;
                }

                .dianzan.active {
                  background: url("../images/dianzan-02.png") no-repeat;
                  background-size: contain;
                  animation: dianzanActive 0.5s ease forwards;
                }

                @keyframes dianzanActive {
                  0% {
                    transform: scale(1)
                  }

                  50% {
                    transform: scale(1.5)
                  }

                  100% {
                    transform: scale(1)
                  }
                }
              }

            }

            .top_box {
              width: 50%;
              padding: 0;
              overflow: hidden;
              text-overflow:ellipsis;
              white-space: nowrap;
            }

            .name {
              height: r(40);
              font-size: r(30);
              color: #000;
              position: relative;
              //top: -2px;
            }

            .level {
              @include remCalc(width, 100);
              display: inline-block;

            }

            .time {
              width: 100%;
              height: r(34);
              line-height: r(36);
              font-size: r(28);
              color: #949494;
            }
          }
        }

        .problemBox {
          width: 100%;
          height: auto;
          padding-right: r(30);
          padding-left: r(30);
          padding-bottom: r(10);

          .problem {
            font-size: r(28);
            line-height: r(38);

            .stop {
              color: $font-color-ff6e06;
            }

            .stop-after {
              position: relative;
            }

            .stop-after:after {
              content: '';
              position: absolute;
              top: 50%;
              left: r(80);
              margin-top: r(-14);
              width: r(18);
              height: r(18);
              @include transform(rotate(45deg));
              border-right: 1px solid $font-color-ff6e06;
              border-bottom: 1px solid $font-color-ff6e06;
            }

            .stop-active:after {
              margin-top: r(-5);
              @include transform(rotate(-135deg));
            }

            .textMore {
              display: block;
              text-align: right;
              color: $bg-color-ff6e06;
              @include remCalc(font-size, 28);
            }

            .imgBtn {
              display: inline-block;
              height: 174px;
              width: 248px;
              left: 0;
            }

            .text2 {
              height: auto;
              line-height: 25px;
              color: #000;
              overflow: hidden;
              font-size: r(32);
            }

            .text3 {
              height: auto;
              line-height: r(46);
              color: #000;
              font-size: r(32);
              word-break: break-all;
              word-wrap: break-word;

              .click-more {
                margin-left: r(20);
                color: $font-color-ff6e06;
              }
            }

            .more-color {
              color: #ff6e07;
            }

            .active {
              max-height: 75px;
            }

            .imgBox {
              margin-top: 5px;
              padding-bottom: r(10);

              .img-box-1 {
                float: left;
                max-width: r(450);
                height: r(300);
                overflow: hidden;
                text-align: center;

                img {
                  height: 100%;
                }
              }

              .img-box-2 {
                float: left;
                max-width: r(230);
                height: r(180);
                overflow: hidden;
                margin-right: 5px;
                text-align: center;

                img {
                  height: 100%;
                }
              }

              .imgOne {
                width: r(450);
                height: r(450);
                margin-right: r(8);
                display: block;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                position: relative;
                overflow: hidden;
              }

              .imgTwo {
                display: inline-block;
                margin-right: r(10);
                width: r(250);
                height: r(200);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                position: relative;
                overflow: hidden;
              }

              .img-hidden {
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
              }
            }

            .videoBox {
              height: auto;
              width: 100%;
              overflow: hidden;

              .video-js {
                width: r(690);
                height: auto;
                max-height: r(388);
                max-width: r(690);

                .vjs-tech {
                  width: r(690);
                  height: r(388);
                }

                .vjs-big-play-button {
                  width: r(102);
                  height: r(102);
                  text-align: center;
                  line-height: r(102);
                  border-radius: 50%;
                  top: 50%;
                  left: 50%;
                  margin-left: r(-51);
                  margin-top: r(-51);
                }
              }

              .imgTwo {
                width: r(226);
                height: r(226);
                margin-right: r(8);
              }
            }
          }

        }

      }

      .answer {
        width: 100%;
        height: auto;
        overflow: hidden;
        box-sizing: border-box;
        padding: r(20) r(30);
        border-top: 1px solid #e6e6e6;

        .answerList {
          width: 100%;
          height: auto;
          position: relative;
          background: #f7f7f7;
          padding: 5px 0;

          .more-a {
            font-size: r(28);
            line-height: r(46);
            color: #4a7caf;
            padding: 0 5px;
          }

          li {
            width: 100%;
            height: auto;
            overflow: hidden;
            font-size: r(30);
            line-height: r(46);
            color: #4a7caf;
            padding: 0 5px;

            >span {
              float: left;
              margin-right: r(12);
            }

            .answerText {
              color: #000;
            }
          }

        }
      }
    }
  }



  a.publication {
    position: fixed;
    right: 10px;
    top: 80%;
    @include remCalc(width, 100);
    @include remCalc(height, 100);
    background: url("../images/publication.png") no-repeat;
    background-size: cover;
    z-index: 999;
  }

  .footer {
    margin-top: 0;
  }
}

.mescroll-totop {
  bottom: 30% !important;
}

.myZone {
  .claimsLine2 {
    width: 100%;
    background-color: #fff;
    @include remCalc(height, 90);

    li {
      width: 50%;
      height: 100%;
      float: left;
      text-align: center;
      line-height: r(90);
      @include remCalc(font-size, 34);
      border-bottom: 1px solid #f1f1f1;
    }

    .active {
      color: #ff6e00;
      border-bottom: 2px solid #ff6e00;

    }
  }

  .contents {
    >ul {
      width: 100%;
      display: none;
    }

    .icon-fabiaowenzhang {
      display: block;
      color: #ff6e00;
      margin: 50px auto 10px;
      @include remCalc(font-size, 80);
      text-align: center;
    }

    .active {
      display: block;
    }
  }


}


.opacity {
  -webkit-animation: opacity 0.3s linear;
  animation: opacity 0.3s linear;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.layui-layer-dialog .layui-layer-content .layui-layer-ico {
  width: 35px !important;
  height: 35px !important;
}