.products-payList {
    color: #000;
    .red {
        color: #ff6c37;
    }
    .top-box {
        background: #fea418;
        color: #fff;
        text-align: center;
        padding-top: r(50);
        padding-bottom: r(30);
        font-size: r(24);
        &.stop {
            background: #cdcdcd;
        }
        .text2 {
            font-size: r(28);
            margin-top: r(-10);
            span {
                font-size: r(80);
            }
        }
        .text3 {
            span {
                font-size: r(40);
            }
        }
        .item {
            width: 32%;
            display: inline-block;
            margin-top: r(20);
            vertical-align: top;
        }
        .text4 {
            margin-top: r(20);
            font-size: r(28);
        }
        .text5 {
            margin-top: 2px;
            font-size: r(34);
        }
    }
    .pay-list {
        background: #fff;
        .title {
            padding: 0 r(30);
            font-size: r(32);
            line-height: r(90);
            height: r(90);
            border-bottom: 1px solid #d2d2d2;
        }
        .item {
            margin: 0 r(30);
            padding: r(20) 0;
            line-height: r(50);
            border-bottom: 1px solid #d2d2d2;
            &:last-child {
                border-bottom: 0;
            }
            .text1 {
                font-size: r(30);
            }
            .text2 {
                font-size: r(26);
            }
        }
        
    }
}