.reimApplication-container{
    width:r(750);
    .reimbox{
        .forwho{
            background:#fff;
            font-size:r(30);
            padding:r(30) r(30) r(0);
        }
        .memberlist{
            background:#fff;
            font-size:r(30);
            padding:r(10) r(30) r(20);
            border-bottom:r(2) solid #f5f5f5;
            overflow: hidden;
            display: flex;
            &>li{
                width:r(150);
                height:r(60);
                border:r(2) solid #e5e5e5;
                border-radius:r(10);
                text-align:center;
                line-height:r(56);
                color:#444;
                float:left;
                margin-right:r(22);
            }
            &>.chosed{
                background:#4580f6;
                color:#fff;
                border:r(2) solid #4580f6;
            }
        }
        .tips{
            height:r(64);
            line-height:r(64);
            color:#666;
            font-size:r(27);
            padding:r(0) r(30);
        }
        .realamount{
            font-size:r(26);
            color: #4580f6;
            height:r(83);
            background:#fff;
            text-align:right;
            padding:r(0) r(30);
            line-height:r(83);
        }
        .uploadInvoice{
            background:#fff;
            padding:r(0) r(30) r(20);
            &>.title{
                font-size:r(30);
                line-height:r(90);
            }
            &>.upload_com{
                width:r(690);
                height:r(422);
                overflow: hidden;
                text-align: center;
                background:#f5f5f5;
                &>img{
                    //width:r(690);
                    height:r(422);
                }
            }
            &>.uploadtips{
                font-size:r(25);
                color:#999;
                line-height:r(64);
                text-align: center;
                white-space: nowrap;
                &>span{
                    color:#4580f6;
                }
            }
            .submitBtn{
                width:r(690);
                height:r(90);
                background:#4580f6;
                color:#fff;
                font-size:r(32);
                text-align:center;
                line-height:r(90);
                border-radius:r(10);
                margin:r(26) auto r(0);
            }
        }
    }
    .exampleModal{
        position: fixed;
        width:100%;
        height:100%;
        top:0;
        left:0;
        &>.bg{
            width:100%;
            height:100%;
            background:rgba(0,0,0,0.3);
        }
        &>.content{
            width:r(690);
            left:r(30);
            top:r(200);
            position:fixed;
            &>img{
                width:r(690);
            }
            &>.close{
                width:r(64);
                height:r(64);
                position:fixed;
                right:r(0);
                top:r(168);
            }
        }
    }
    .designcell{
        padding:r(0) r(46);
        background:#e1ebff;
        color:#4580f6;
        border-radius:r(10);
        height:r(60);
        line-height:r(60);
    }
    .mint-cell-text{
        font-size:r(29);
    }
    .mint-cell-value{
        font-size:r(27);
        color:#000;
        &>input{
            text-align: right;
        }
    }
    .mint-cell{
        border:none;
        height:r(102);
        line-height: r(102);
        .mint-cell-wrapper{
            border:none;
            height:r(102);
            line-height: r(102);
            background-image: none;
            border-bottom:r(2) solid #f5f5f5;
            padding:r(0) r(30);
        }
    }
}