.hqwyrs {
    padding-bottom: 30px;
    background-color: #9aa9fe;
    .box {
        position: relative;
        width: 1200px;
        margin: 0 auto;
        text-align: center;
    }
    
    .fiexedImg {
        position: fixed;
        left: 50%;
        margin-left: 620px;
        bottom: 100px;
        z-index: 10;
    }
    .banner {
        width: 100%;
        min-width: 1200px;
    }
    .banner1 {
        height: 466px;
        background: url("../../images/hqwyrs/banner.jpg") no-repeat 50% 0;
    }
    .flxed{
        position: fixed;
        bottom: 80px;
        left: 50%;
        margin-left: 610px;
    }
    .btns{
        width: 350px;
        height: 80px;
        position: absolute;
        left: 50%;
        bottom: 60px;
        margin-left: -175px;
        border-radius: 20px;
        background-color: #ff7052;
        border-bottom: 7px solid #fea486;
        color: #fff;
        font-size: 30px;
        line-height: 72px;
        font-weight: 900;
    }
    a {
        cursor: pointer;
    }
    .gkContenr2 {
        position: absolute;
        top: 37px;
        left: 50%;
        margin-left: 250px;
        width: 330px;
        .foots {
            width: 100%;
            height: 100%;
            position: relative;
        }
    }
    .form-horizontal {
        width: 292px;
        position: absolute;
        left: 50%;
        margin-left: -146px;
        top: 130px;
        .descript{
            font-size: 14px!important;
            letter-spacing: 0;
            color: #666;
            line-height: 20px;
            margin-top: 15px;
        }
        .btn {
            width: 100%;
            margin: 0 auto;
            background-color: #f1585b;
            color: #fff;
            border-radius: 10px;
            height: 60px;
            font-size: 30px;
            font-weight: 900;
            border-bottom: 5px solid #d13a3e;
        }
        .form-group {
            width: 292px;
            height: 50px;
            margin: 0 !important;
            margin-bottom: 14px !important;
            padding: 0;
            background: #fff;
            border-radius: 10px;
            overflow: hidden;
            label {
                font-size: 18px;
                line-height: 50px;
                width: 100px;
                padding: 0;
                text-align: center;
                float: left;
                font-weight: 100;
            }
            .col-sm-9 {
                float: left;
                width: 190px;
                box-sizing: border-box;
                height: 50px;
                border: 0;
                line-height: 50px;
                font-size: 18px;
                color: #c0c0c0;
                text-align: left;
                input {
                    width: 100%;
                    height: 50px;
                    border: 0;
                    line-height: 50px;
                    font-size: 18px;
                    color: #000; 
                    outline: none;
                    display: block;
                }
            }
        }
    }
}

