.wmrssh-0508 {
    background:#a6caff;
    padding-bottom:100px;
    .content{
        .bar-left{
            padding:0;
            .img-center{
                width:100%;
            }
        }
        .bar-right{
            .fromTitle{
                height:72px;
                font-size:23px;
                left:0px;
                border-radius:0;
                width:100%;
                line-height:72px;
                margin:0;
                background:#feb215;
                background-image:linear-gradient(to top,#fea102,#fee64f);
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                text-shadow:0 0 3px #f59915;
            }
            #getPremiums{
                width:100%;
                background:#ff8c07;
                box-shadow: 0 0 3px #ffe1bf;
            }
        }
    }
}