@charset "utf-8";
@import "../../helper/variables.scss";
@import "../../helper/mixin.scss";
$color:#fe9400;
$color2:#2c6bcc;
.box-wts-txsh {
    background-color: #e23424;
    h2 {
        font-size: r(50);
        color: #000;
        font-weight: 900;
        text-align: center;
        line-height: r(90);
        margin: r(20) 0 0 0;
        color: $color2;
    }
    .bar-right .form{
        .fromTitle{
            font-size: 22px;
            width: 100%;
            left: 0;
            margin-left: 0;
            border-radius: 0;
        }
        .fromTitle span{
            color: #f9ff43;
        }
        .btn span{
            font-size: 16px;
            text-decoration: line-through;
        }
        .fromNumber{
            text-align: center;
            span{
                color: #fc6054;
            }
        }
        .checkBtns{
            min-width: 80px!important;
            margin: 3px!important;
            font-size: 16px!important;
        }
    }
    
    .title-2 {
        text-align: center;
        margin-top: r(35);
        line-height: r(60);
        span {
            font-size: r(28);
            padding: 3px r(30);
            background-color: #f75e59;
            border-radius: r(60);
            color: #fff;
        }
    }
    .title-3 {
        text-align: center;
        line-height: r(30);
        span {
            line-height: r(30)!important;
            font-size: r(30);
            color: #514b4b;
        }
    }
    .form-control{
        font-size: 16px;
    }
    .top-border2 {
        height: r(40);
    }
    .top1 {
        margin: 0 auto;
        padding: 0 r(41)
    }
    .titles {
        width: 100%;
        display: block;
        margin: 0 auto 10px;
        padding-bottom: 5px;
        border-bottom: 1px solid #bcbcbc;
        span {
            padding-left: 5px;
            border-left: 5px solid $color;
            font-size: 22px;
            line-height: 26px;
        }
    }
    #tabs {
        border-bottom: 1px solid #bcbcbc!important;
    }
    #tabs>span.active {
        color: $color!important;
        border-bottom: 4px solid $color!important;
    }
    .top-border>span {
        font-size: r(84);
        line-height: r(140);
        text-align: center;
        color: #fff;
        background: $color2;
        display: inline-block;
        width: r(140);
        height: r(140);
    }
    .top-border {
        display: inline-block;
        margin: r(20) 0;
        width: r(670);
        height: r(140);
        overflow: hidden;
        border: 1px solid $color2;
        .right {
            float: right;
        }
        .left {
            float: left;
        }
        .div-1 {
            padding-left: r(30);
            .p1 {
                color: $color2;
                font-size: r(34);
                line-height: r(54);
            }
            .p3,
            .p4 {
                font-size: r(24);
                line-height: r(34);
            }
            .p2 {
                font-size: r(24);
                line-height: r(34);
                .spa1 {
                    padding-left: r(30);
                    margin-right: r(30);
                    background: url(../../../images/101009/icon.png)no-repeat;
                    background-position-y: 3px;
                }
            }
        }
    }
    .top-border:nth-of-type(2n+1) {
        .div-1 {
            padding-left: r(160);
        }
    }
    .top2 {
        padding-top: r(20);
        .div-2 {
            width: 100%;
            border: 1px solid #bcbcbc;
            margin: r(15) 0;
            padding-top: r(25);
            height: r(270);
            position: relative;
            img {
                position: absolute;
                width: r(220);
                height: r(220);
                top: 50%;
                margin-top: r(-110);
            }
            .p1,
            .p3 {
                font-size: r(30);
                line-height: r(40);
                span {
                    color: #f05552;
                    font-size: r(36);
                    font-weight: 600;
                }
            }
            .p3 {
                margin-top: r(15)
            }
            .p2 {
                height: r(200);
                margin-top: r(25);
                span {
                    display: inline-block;
                    padding: 0 r(10);
                    line-height: r(40);
                    background: $color2;
                    color: #fff;
                    border-radius: 5px;
                    margin-right: 10px;
                    font-size: r(26);
                    margin-bottom: r(15);
                }
                span:last-of-type {
                    background: #fff;
                    color: #000;
                    font-weight: 800;
                    text-align: left;
                    padding-left: 0;
                }
            }
        }
        .div-2:nth-of-type(2n+1) {
            padding-left: r(35);
            img {
                right: r(16);
            }
        }
        .div-2:nth-of-type(2n) {
            padding-left: r(246);
            img {
                left: r(16);
            }
        }
    }
    .tabBox {
        padding: r(60) r(20) r(20) r(20);
        tr,
        th {
            height: r(80);
            line-height: r(80);
            text-align: center;
            font-size: r(28);
            border: 2px solid #fff;
        }
        td {
            border: 2px solid #fff;
            line-height: r(80);
        }
        td:first-of-type {
            line-height: 1.5;
        }
        th {
            background: $color2;
            color: #fff;
            font-weight: 600;
        }
        tr {
            color: #000;
            background: #f5f9ff;
        }
    }
    .lp-box {
        margin-top: r(40);
        height: r(290);
        padding: r(20) r(20) r(20) r(280);
        border: 1px solid #dcdcdc;
        position: relative;
        img {
            position: absolute;
            top: r(20);
            left: r(20);
            width: r(220);
            height: r(250);
        }
        .p1 {
            margin-top: r(40);
            font-size: r(30);
            color: $color2;
            span {
                display: inline-block;
                line-height: r(70);
                font-weight: 600;
                border-bottom: 1px solid $color2;
            }
        }
        .p2 {
            padding: 5px r(12);
            line-height: r(40);
            font-size: r(26);
            background: $color2;
            color: #fff;
            margin-top: r(40);
        }
    }
    .bottom-text {
        margin-top: r(50);
        th,
        tr {
            height: r(50);
            line-height: r(50);
            text-align: center;
            font-size: r(28);
        }
        th {
            color: #fff;
            background: $color2;
            font-weight: 600;
        }
        td {
            background: #e3edfd;
            border: 2px solid #fff;
            line-height: r(50);
            span {
                color: #f66866;
            }
        }
    }
    .div2 {
        padding: r(10) r(40) r(30) r(40);
        font-size: r(26);
        line-height: r(40);
        color: #000;
    }
    .divList {
        margin-bottom: r(20);
        height: r(90);
        position: relative;
        padding-left: r(140);
        background: #e3edfd;
        .lef {
            display: inline-block;
            width: r(90);
            background: $color2;
            position: absolute;
            left: 0;
            top: 0;
            height: r(90);
            font-size: r(26);
            padding: r(10) 0;
            .p1 {
                line-height: r(36);
                color: #fff;
                text-align: center;
            }
        }
        .p2 {
            font-size: r(26);
            color: #000;
            line-height: r(90);
        }
    }
}