.points-panel {
  padding-top: 1px;
  min-height: 100vh;
  background: #ececec;
  .top-bg {
    background: #fff;
    padding: r(30);
  }
  .top-box {
    background: linear-gradient(to right,#f8efdd, #edd49d);
    height: r(226);
    padding: r(60) r(45);
    border-radius: 5px;
    box-shadow: 0 0 5px #b1afaf;
    .user-img {
      width: r(106);
      vertical-align: middle;
      margin-right: 10px;
      &.circular {
        width: r(100);
        height: r(100);
        border-radius: 50%;
      }
    }
    .level {
      height: r(46);
      .leve-icon {
        width: r(46);
        position: relative;
        z-index: 1;
        vertical-align: middle;
      }
      .level-name {
        line-height: r(35);
        height: r(35);
        margin-left: -20px;
        padding-left: 20px;
        padding-right: 5px;
        border-radius: r(23);
        display: inline-block;
        font-size: 12px;
        vertical-align: middle;
      }
      &.level1 .level-name {
        color: #fff;
        background: linear-gradient(to right,#e85f39 , #f9947e);
      }
      &.level2 .level-name{
        color: #d08434;
        background: linear-gradient(to right,#dab379, #ffe6b5);
      }
      &.level3 .level-name{
        color: #7d7191;
        background: linear-gradient(to right,#a19fb4, #ede9de);
      }
      &.level4 .level-name{
        color: #ff981f;
        background: linear-gradient(to right,#ffdb2e, #fffebc);
      }
      &.level5 .level-name{
        color: #fdd537;
        background: linear-gradient(to right,#c05226, #dc9713);
      }
      &.level6 .level-name{
        color: #ffbf38;
        background: linear-gradient(to right,#292928, #524b40);
      }
    }
    .text-box {
      display: inline-block;
      vertical-align: middle;
      .name {
        font-size: r(34);
        width: r(300);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    .info-box {
      display: inline-block;
      vertical-align: middle;
      width: r(150);
      text-align: center;
      margin-top: -10px;
      .info-text {
        font-size: r(22);
        color: #442f28;
      }
      .info-num {
        font-size: r(46);
        font-weight: bold;
        color: #7d5b3a;
        margin-bottom: -5px;
      }
    }
  }
  .points-nav {
    display: flex;
    border-top: 1px solid #ececec;
    background: #fff;
    .item {
      flex: 1;
      text-align: center;
      padding: r(30) 0;
      img {
        width: r(97);
      }
      .text {
        font-size: r(28);
      }
    }
  }
  .line {
    height: r(20);
    width: 100%;
    background: #ececec;
  }
  .bottom-box {
    margin-top: r(20);
    .img1 {
      width: 100%;
      vertical-align: top;
    }
  }
  .list {
    margin-top: r(20);
    font-size: r(26);
    color: #333;
    background: #fff;
    .list-title {
      height: r(100);
      line-height: r(100);
      background: url(~@/points/title.png) 50% no-repeat;
      background-size: cover;
      border-bottom: 1px solid #ddd;
      color: #f21b2e;
      text-align: center;
      font-size: r(34);
      font-weight: 700;
    }
    .price {
      padding-top: 5px;
      color: #f21b2e;
    }
    .name {
      padding-top: 5px;
      line-height: r(30);
      -webkit-text-size-adjust: none;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      word-break: break-all;
    }
    ul {
      display: flex;
      display: -webkit-flex;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      margin-bottom: -1px;
      li {
        padding: 7px 10px;
        width: 33.3333%;
        border-bottom: 1px solid #ddd;
        img {
          width: 100%;
          position: absolute;
        }
        .img-div {
          width: 100%;
          padding-bottom: 100%;
          position: relative;
        }
        &:nth-child(3n+1),
        &:nth-child(3n+2) {
          border-right: 1px solid #ddd;
        }
      }
    }
  }
}
