<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name = "format-detection" content = "telephone=no">
    <meta name="viewport"
      content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover" />
    <meta name="applicable-device" content="mobile">
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
    <meta name="keywords" content="网上买保险,人寿保险,养老理财保险,儿童教育金,旅游保险,百万医疗"/>
    <meta name="description" content="梧桐树保险网是一家成立多年的互联网保险平台，银保监会网销许可。梧桐树保险网涵盖儿童保险、重疾保险、医疗保险、意外保险等众多保险公司优质产品。"/>
    <title></title>
    <link type="text/css" rel="stylesheet" href="./static/css/loading.css">
    <link type="text/css" rel="stylesheet" href="./static/dll/vendor.dll.css">
    <!-- <script src="./static/js/jquery.min.js"></script>
    <script src="./static/js/jquery.cookie.js"></script> -->
    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?e0535e890f2f0f3aaba7fe5e2fa98ea0";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
      </script>
  </head>

  <body>
    <div id="app"></div>
    <div class="lz-loading" id="lz_loading">
      <div class="spinner">
        <div class="spinner-container container1">
          <div class="circle1"></div>
          <div class="circle2"></div>
          <div class="circle3"></div>
          <div class="circle4"></div>
        </div>
        <div class="spinner-container container2">
          <div class="circle1"></div>
          <div class="circle2"></div>
          <div class="circle3"></div>
          <div class="circle4"></div>
        </div>
        <div class="spinner-container container3">
          <div class="circle1"></div>
          <div class="circle2"></div>
          <div class="circle3"></div>
          <div class="circle4"></div>
        </div>
      </div>
    </div>
    <script src="<% if(htmlWebpackPlugin.options.environment=='1') { %>https://libs.wts999.com/wtsLogin.min.js?<%=htmlWebpackPlugin.options.versionHash%><% } else { %>https://libs.wts999.com/wtsLogin.js?<%=htmlWebpackPlugin.options.versionHash%><% } %>"></script>
    <script src="<% if(htmlWebpackPlugin.options.environment=='1') { %>https://libs.wts999.com/nativeApp.min.js?<%=htmlWebpackPlugin.options.versionHash%><% } else { %>https://libs.wts999.com/nativeApp.js?<%=htmlWebpackPlugin.options.versionHash%><% } %>"></script>
    <script src="./static/dll/vendor.dll.js"></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
    <link rel="stylesheet" href="./static//css/emoji.css">
    <script src='./static/js/emoji.js'></script>
    <script>
      (function () {
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
          bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
          bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
      })();
    </script>
    </script>
  </body>

</html>
