.lz-title{
    width: 100%;
    text-align: center;
    position: relative;
    padding-bottom: 10px;
    font-size: 48px;
    .icons-title-bottom{
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -172px;
    }
  }