
/*公共部分*/
body {
  font: 12px/150% "Microsoft YaHei","iconfont",Verdana, "\5b8b\4f53"; /*宋体 unicode */
  color: #000;
  //background: #fbfbfb;
}

/*清除浮动*/
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1; /*IE/7/6*/
}

/*链接*/
a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: $baseColor;
  text-decoration: none;
}

a:focus {
  color: #000;
  text-decoration: none;
}

a.unline{
  color: $baseColor;
}
a.unline:hover,a.unline:focus{
  text-decoration: underline;
}

.w {
  /*版心 提取 */
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.w-100 {
  /*100%版心 */
  width: 100%;
  background-color: #fff;
}


.fl {
  float: left;
}

.fr {
  float: right;
}

.hide {
  display: none;
}


/*字体颜色*/
/*梧桐黄*/
.col-red {
  color: $baseColor !important;
}

.fc-tishi{
  color: #666666;
}
.fc-000{
  color: #000;
}
.fc-858585{
  color: #858585;
}
.fc-fff{
  color: #fff;
}
.fc-ff4400{
  color: #ff4400;
}
.fc-ff7910{
  color: #ff7910;
}
.fc-116690{
  color: #116690;
}
.fc-a05118{
  color: #a05118;
}

.fc-placeholder{
  color: #b2b2b2;
}


/*首行缩进*/
.t-indent {
  text-indent: 40px;
}

/*文字排版*/
.t-align-c {
  text-align: center;
}

.t-align-r {
  text-align: right;
}

.t-align-l {
  text-align: left;
}

/*加粗*/
.t-strong {
  font-weight: 700;
}

/*padding值*/
.cy-pad_l_r{
   padding: 0 20px;
 }
.cy-pad_l_top{
  padding:  20px 0;
}


.cy-border{
  border: 1px solid $baseColor;
}

/*标题*/
h4.cy_h4{
  width: 100%;
  font-size: 20px;
  color: #000;
}
h2.cy_36{
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  line-height: 50px;
}
h2.cy_32{
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  line-height: 46px;
}
h2.cy_26{
  font-size: 26px;
  font-weight: 700;
  line-height: 40px;
}
h3.cy_22{
  font-size: 22px;
  font-weight: 700;
  line-height: 36px;
}
h3.cy_20{
  font-size: 20px;
  font-weight: 700;
  line-height: 34px;
}
h2.cy_yellow{
  font-size: 32px;
  color: #ffff00;
  line-height: 45px;
  font-weight: 700;
}




/*边框*/
.cy_bor{
  border: 1px solid #ececec;
}
.cy_bor_l{
  border-left: 1px solid #ececec;
}
.cy_bor_r{
  border-right: 1px solid #ececec;
}
.cy_bor_t{
  border-top: 1px solid #ececec;
}
.cy_bor_b{
  border-bottom: 1px solid #ececec;
}


.bg1{
  background-color: #FFFFFF;
}
.bg2{
  background-color: #f9f9f9;
}

.a-line{
  text-decoration: underline;
}


.img-center{
  display: block;
  margin: 0 auto;
}
.img-c{
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.txt-ellipsis1{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

a.width-all{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;

}