.index {
  min-height: 100%;
  .icon {
    margin-left: 0;
  }
  .layui-input-block {
    margin-left: 0;
    position: relative;
  }
  .layui-form-item {
    padding: 0 30px;
  }
  .iconTip {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .layui-btn {
    width: 100%;
    background-color: #2780ff;
    margin-top: 30px;
  }
  .layui-input {
    border: none;
    padding-left: 32px;
    border-bottom: 1px dotted #ddd;
  }
  .box{
    .title {
      text-align: center;
      color:#333;
      font-size:30px;
      &>span{
        display:inline-block;
        margin: 0 20px;
      }
    }
    .subtit{
      font-size:18px;
      color:#888;
      text-align:center;
    }
    @keyframes rotate
    {
      from {transform:rotate(0deg);}
      to {transform: rotate(360deg);}
    }
    .animation1{
      width:1028px;
      height:331px;
      margin:0 auto;
      margin-top:60px;
      position: relative;
      &>img{
        position: absolute;
        display:none;
      }
      .top-l{
        left:0;
        top:24px;
      }
      .top-r{
        right:62px;
        top:0;
      }
      .center{
        display:block;
        left:341px;
        top:13px;
        animation:rotate 1s 1;
      }
      .bottom-l{
        left:38px;
        bottom:6px;
      }
      .bottom-r{
        right:0;
        bottom:22px;
      }
    }
  }
  .box1{
    padding-top:80px;
    background-color:#F6F8FA !important;
    .animation2{
      width:1200px;
      height:359px;
      font-size:0px;
      margin-top:54px;
      img{
        opacity: 0;
      }
      .img6{
        text-align: right;
        padding-right:152px;
        display:block;
      }
    }
  }
  .box2{
    width: 100%;
    height:400px;
    position: relative;
    overflow: hidden;
    padding:0 !important;
    margin:0 !important;
    &>img{
      height:400px;
      position: absolute;
      left:0;
      top:0;
      right:0;
      bottom:0;
      margin:auto;
      transition: all .5s ease-in .1s;
    }
  }
  .box2:hover{
    .box2-img{
      transform: scale(1.1);
    }
  }
  .box3{
    background-color:#fff !important;
    .animation3{
      height:412px;
      width:1200px;
      position: relative;
      margin-top:40px;
      img{
        position: absolute;
        display:none;
      }
      .img1{
        left:529px;
        top:0;
      }
      .img2{
        left:0;
        top:71px;
      }
      .img3{
        left:191px;
        top:89px;
      }
      .img4{
        left:408px;
        top:104px;
      }
      .img5{
        left:651px;
        top:104px;
      }
      .img6{
        left:674px;
        top:93px;
      }
      .img7{
        left:674px;
        top:71px;
      }
    }
  }
  .box4{
    background: #F6F8FA !important;
    .list1 {
      margin: 0 auto;
      margin-top:40px;
      .item {
        width: 33%;
        display: inline-block;
        text-align: center;
        color: #333;
        font-size: 20px;
        vertical-align: top;
        margin-bottom: 56px;
        > div:nth-child(2) {
          margin-top: 18px;
        }
      }
      .noMargin {
        margin-bottom: 0;
      }
    }
    .list2 {
      width: auto;
      .item {
        color: #fff;
        font-size: 22px;
        width: 20%;
        float: left;
        padding-right: 17px;
        box-sizing: border-box;
        background-color: transparent;
        margin-bottom: 20px;
        // width:225px;
        &:nth-child(5n){
          padding-right: 0;
        }
        > div {
          transition: all .5s;
          position: relative;
          top:0;
          &:hover{
             top:-10px;
              box-shadow: 0px 5px 18px 0px rgba(146, 146, 146, 0.5),0px 5px 
          }
          background-color: #fff;
          img {
            // width: 225px;
          }
          .tit{
            color:#888;
            font-size:14px;
            height:40px;
            line-height:40px;
            border-top:1px solid #f6f8fa;
            // width:225px;
          }
        }
      }
    }
  }
  .box5{
    background:#fff !important;
    .animation4{
      margin-top:40px;
      overflow: hidden;
      .pic:hover{
        &>img{
          transform:scale(1.2);
        }
      }
      .item-box:hover{
        .d-t{
          color:#337BFC !important;
        }
      }
      .item:nth-last-child(1){
        margin-right:0px;
      }
      .item{
        width:380px;
        float:left;
        margin-right:30px;
        cursor: pointer;
        .pic{
          width:380px;
          height:190px;
          overflow: hidden;
          &>img{
            transition: all .5s ease-in .1s;
          }
        }
        .wrapper{
          margin-top:20px;
          width:380px;
          overflow: hidden;
          .left{
            width:100px;
            height:100px;
            border:1px solid #eee;
            float:left;
            padding:22px 15px;
            .riqi{
              color:#337BFC;
              font-size:26px;
            }
            .nianfen{
              color:#888;
              font-size:18px;
            }
          }
          .right{
            width:265px;
            float:right;
            .d-t{
              font-size:18px;
              color:#000000;
            }
            .d-d{
              font-size:14px;
              color:#888;
            }
            .d-p{
              margin-top:10px;
              color:#FF8C33;
              &>span{
                padding:0px 4px 0px 5px;
                font-size:12px;
                border:1px solid #FF8C33;
                border-radius:2px;
                margin-right:10px;
                display:inline-block;
                height:20px;
                line-height:20px;
              }
            }
          }
        }
        .design-line{
          width:380px;
          height:1px;
          margin-top:29px;
          position: relative;
          &>.line1{
            position: absolute;
            left:0;
            top:0;
            width:380px;
            height:1px;
            background:#eee;
          }
          &>.line2{
            position: absolute;
            left:0;
            top:0;
            height:1px;
            background:#eee;
            background:#337BFC;
          }
        }
      }
    }
  }

  .icons-govIcon {
    width: 16px;
    height: 16px;
  }
  .rightList {
    position: fixed;
    width: 46px;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    z-index: 10000;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    a {
      padding: 10px 8px;
      display: inline-block;
      text-align: center;
      cursor: pointer;
    }
    a div:nth-child(2) {
      line-height: 1.4;
      margin-top: 4px;
    }
    > a:nth-child(1) {
      background-color: #2083fe;
      color: #fff;
    }
    a:hover {
    }
  }
  #form {
    .formBox {
      .submitBtn {
        background-color: #2083fe;
        height: 40px;
        border: none;
        outline: none;
        font-size: 18px;
        &:hover {
          background-color: #2474df;
        }
      }
      .titles {
        text-align: center;
        font-size: 20px;
        color: #333;
        font-weight: bold;
        padding: 30px;
        .blue {
          color: #2780ff;
        }
      }
      .list {
        width: 80%;
        margin: 0 auto;
        .item {
          padding: 10px 0;
          border-bottom: 1px dotted #ddd;
        }
      }
    }
  }
  .rightFixed {
    background-color: #fff;
    position: fixed;
    width: 46px;
    height: 46px;
    right: 5%;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    padding-top: 5px;
    bottom: 100px;
    display: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    > div {
      display: inline-block;
      text-align: center;
      color: #2083fe;
      div:nth-child(2) {
        margin-top: -4px;
      }
    }
  }
  .list3 {
    .item {
      &:nth-child(2n){
        padding-left: 40px;
      }
      width: 50%;
      float: left;
      background-color: #fff;
      font-size: 20px;
      vertical-align: middle;
      .icon{
        margin-top:0 !important;
      }
      >div{
        float: left;
        &:nth-child(2){
          margin-top:0;
          width: 418px;
          text-align: left;
          h1{
            font-size: 24px;
            color: #333333;
            font-weight: bold;
            margin-bottom: 14px;
           
          }
          p{
            font-size: 18px;
            color: #333333;
           
          }
        }
      }
      .imgBox {
        width: 122px;
        margin-right: 14px;
      }
      .icon {
        margin-top: 90px;
      }
    }
  }
  // .box4{
  //   background: url("../images/index/wy_bg.png") no-repeat center center;
  //   background-size: 100% 100%;
  //   height: 796px;
  //   img{
  //     width: 100%;
  
  //       box-shadow: 0px 5px 35px 0px rgba(11, 15, 152, 0.2);

      
  //   }
  //   .w{
  //     .title{
  //             span:nth-child(1){
  //                 color: #fff !important;
  //             }
  //             span:nth-child(2){
  //               color: #fff100 !important;
  //           }
  //           span:nth-child(3){
  //             color: #b3c9f9 !important;
  //         }
  //     }
  //   }
    
  // }
  .box {
    width: 100%;
    min-width: 1200px;
    padding: 60px 0;
    background-color: #fff;
    overflow: hidden;
    .lz-title {
      font-size: 40px;
      line-height: 40px;
      padding: 50px 0 70px;
    }
  }
  .box2 {
    background-color: #f9f9f9;
    background-size: cover;
    background-position: center center;

    .w {
      height: 662px;
      .lz-title {
        padding-bottom: 0;
        padding-top: 70px;
        color: #fff;
      }
    }
  }
  .box3 {
    background-color: #fafafa;
  }
  .title-des {
    font-size: 22px;
    line-height: 52px;
    text-align: center;
    color: #fff;
  }

  .project-1 {
    text-align: center;
    .col-md-3 {
      display: inline-block;
      width: 300px;
      padding: 0 12px 24px 12px;
      float: none;
      cursor: pointer;
      .min-box {
        width: 100%;
        height: 100%;
        position: relative;
        padding-top: 28px;
        border: 1px solid #e8e8e8;
        border-bottom: 5px solid #e8e8e8;
        padding-bottom: 10px;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        .icon {
          width: 68px;
          height: 68px;
          display: block;
          margin: 0 auto 11px;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center center;
        }
        .name {
          width: 100%;
          font-size: 26px;
          line-height: 56px;
          text-align: center;
          position: relative;
        }
        .name:after {
          display: block;
          content: "";
          position: absolute;
          left: 50%;
          bottom: -5px;
          margin-left: -22px;
          width: 46px;
          height: 5px;
          background: #e8e8e8;
        }
        .descrip {
          font-size: 16px;
          line-height: 42px;
          white-space: nowrap;
          text-align: center;
          padding-top: 5px;
        }
      }
    }
    .col-md-3:nth-of-type(1) > .min-box > .icon {
      background-image: url("../images/icon1.png");
    }
    .col-md-3:nth-of-type(2) > .min-box > .icon {
      background-image: url("../images/icon2.png");
    }
    .col-md-3:nth-of-type(3) > .min-box > .icon {
      background-image: url("../images/icon3.png");
    }
    .col-md-3:nth-of-type(4) > .min-box > .icon {
      background-image: url("../images/icon4.png");
    }
    .col-md-3:nth-of-type(5) > .min-box > .icon {
      background-image: url("../images/icon5.png");
    }
    .col-md-3:nth-of-type(6) > .min-box > .icon {
      background-image: url("../images/icon6.png");
    }
    .col-md-3:nth-of-type(7) > .min-box > .icon {
      background-image: url("../images/icon7.png");
    }
    .col-md-3:nth-of-type(8) > .min-box > .icon {
      background-image: url("../images/icon8.png");
    }
  }

  .project-2 {
    text-align: center;
    padding-top: 62px;
    .col-md-4 {
      text-align: center;
      display: inline-block;
      width: 300px;
      height: 360px;
      box-sizing: border-box;
      padding: 0;
      float: none;
      cursor: pointer;
      .min-box {
        width: 300px;
        height: 100%;
        color: #fff;
        background: rgba(250, 250, 250, 0.3);
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        .name {
          width: 100%;
          font-size: 26px;
          line-height: 26px;
          font-weight: 900;
          padding: 130px 0 26px;
        }
        .descrip {
          width: 100%;
          font-size: 18px;
          line-height: 18px;
          padding-top: 26px;
        }
        i {
          display: block;
          width: 60px;
          height: 4px;
          background: #fff;
          margin: 0 auto;
        }
      }
    }
    .col-md-4:nth-of-type(2) {
      margin: 0 114px;
    }
  }

  .brand {
    margin: 0 auto 40px;
    > ul {
      text-align: center;
      li {
        display: inline-block;
        width: 220px;
        margin: 9px;
        border-radius: 5px;
        border: 1px solid #eaeaea;
        background-color: #fff;
        overflow: hidden;
        img {
          width: 220px;
          display: block;
          margin: 0 auto;
        }
      }
      li:nth-of-type(5n-4) {
        margin-left: 0;
      }
      li:nth-of-type(5n) {
        margin-right: 0;
      }
    }
  }
}
