.insureGl {
  .toggle_top{
      color: #666;
      font-size: 24px;
      width: 1000px;
      margin:0 auto;
      text-align: center;
      margin-bottom: 20px;
      border-bottom: 1px solid #ddd;
      >div{
        width: 500px;
        margin:0 auto;
      }
      span{
        padding-bottom: 19px;
        float: left;
        &:hover{
          cursor: pointer;
        }
        margin-right: 70px;
        &.active_item{
          font-size: 30px;
          color: #000;
          border-bottom: 4px solid #337BFC;
        }
      }
  }
  .pagination{
    text-align: center;
    margin-top:30px;
    display: block;
    a,span{
      padding: 4px 10px;
      border:1px solid #ddd;
      margin-right: 4px;
    }
    span.active{
       background-color: #337bfc;
       color: #fff;
    }
    input{
      width: 40px;
      height: 26px;
      border:1px solid #ddd;
      margin-right: 4px;
    }
  }
  .listBox{
    background-color: #fff;
    padding: 16px;
    width: 1000px;
    margin:0 auto;
  
    .item{
      margin-bottom: 38px;
      &:hover{
        cursor: pointer;
      }
      &:last-child{
        margin-bottom: 0;
      }
      >div{
        float: left;
        width: 81.5%;
      }
       .leftBox{
           width: 162px;
           height: 100px;
           overflow: hidden;
           margin-right: 17px;
           img{
             width: 100%;
           }
       }
       .rightBox{
         .top{
           color: #000;
           font-size: 20px;
           font-weight: bold;
           margin-bottom: 36px;
           overflow: hidden;
text-overflow:ellipsis;
white-space: nowrap;
         }
         .bot{
           >div{
             float: left;
           }
            .tag{
              >span{
                float: left;
                padding: 4px 9px;
                border-radius: 4px;
                border:1px solid #4184fc;
                color:  #4184fc;
                margin-right: 12px;
              }
               
            }
            .time{
              color: #888888;
              float: right;
              margin-top:8px;
            }
            .num{
              color: #888888;
              margin-top:8px;
              margin-left: 25px;
            }
         }
       }
    }
  }
}
