.productPlan {
  .someBox {
    .some {
      float: left;
      box-sizing: border-box;
      .item {
        background-color: #fff;
        width: 374px;
        margin-right: 38px;
        height: 422px;
        .top {
          background-image: linear-gradient(to right, #5955f3, #9a95fb);
          height: 60px;
          line-height: 60px;
          text-align: center;
          color: #fff;
          font-size: 24px;
          font-weight: bold;
        }
        ul {
          padding-left: 24px;
          padding-right: 24px;
          padding-top: 24px;
          li {
            padding-left: 18px;
            margin-bottom: 27px;
            span {
              display: block;
              &:nth-child(1) {
                font-size: 20px;
                color: #000;
                font-weight: bold;
                position: relative;
                &::before {
                  border-radius: 50%;
                  content: "";
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                  left: -18px;
                  width: 8px;
                  height: 8px;
                  background-color: #f78d47;
                }
              }
              &:nth-child(2) {
                font-size: 16px;
                color: #666666;
              }
            }
          }
        }
      }
      &:nth-child(2) .item {
        ul {
          li {
            span {
              &:nth-child(1) {
                &::before {
                  background-color: #8466e6;
                }
              }
            }
          }
        }
        .top {
          background-image: linear-gradient(to right, #3c7efc, #6d95f7);
        }
      }
      &:last-child .item {
        margin-right: 0;
        ul {
          li {
            span {
              &:nth-child(1) {
                &::before {
                  background-color: #01bbb3;
                }
              }
            }
          }
        }
        .top {
          background-image: linear-gradient(to right, #01bbb3, #6fe0d5);
        }
      }
    }
  }
  .box2 {
    background: url("../images/productPlan/pro_bg.png") no-repeat center center;
    background-size: 100% 100%;
    height: 900px;
    .title {
      > span:nth-child(1) {
        color: #fff !important;
      }
      > span:nth-child(2) {
        color: #b3ccf8;
      }
      > span:nth-child(3) {
        color: #fffc00;
      }
    }
  }
  .formBox {
    background-color: #fff;
    border-radius: 10px;
    width: 50%;
    box-sizing: border-box;
    font-size: 16px;
    margin: 0 auto;
    padding-bottom: 45px;
    .titles {
      color: #337bfc !important;
      font-size: 24px !important;
    }
    .layui-input-block {
      float: left;
      width: 80%;
    }
    .layui-form-label {
      font-weight: bold;
      width: 94px;
      padding-left: 0;
      padding-right: 16px;
    }
    .layui-form-item {
      margin-bottom: 16px;
    }
    .layui-input,
    .layui-textarea {
      background-color: #f9f9f9;
      border: none;
      width: 100%;
      padding-left: 14px;
    }
    button {
      width: 230px;
      border-radius: 40px;
      margin: 0 auto;
      display: block;
      height: 50px;
      font-size: 20px;
      margin-top: 30px;
      font-weight: bold;
    }
  }
  .box3 {
    padding-bottom: 140px;
    .liuc {
      width: 530px;
      margin: 0 auto;
      > ul {
        > li {
          margin-bottom: 80px;
          text-align: left;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            width: 0;
            border-left: 2px dashed #ddd;
            height: 60px;
            color: #337bfc;
            text-align: center;
            line-height: 60px;
            left: -48px;
            bottom: -74px;
          }
          &:last-child {
            &::before {
              display: none;
            }
            margin-bottom: 0;
          }
          span {
            font-size: 22px;
            &.ti {
              color: #414141;
              font-weight: bold;
            }
            &:nth-child(2) {
              position: relative;
              ul.tip {
                position: absolute;
                width: 400px;
                bottom: -70px;
                font-weight: normal;
                font-size: 20px;
                li {
                  padding-left: 14px;
                  position: relative;
                  &::before {
                    content: "";
                    width: 4px;
                    height: 4px;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    border-radius: 50%;
                    transform: translateY(-50%);
                    background-color: #337bfc;
                  }
                }
                left: 0;
              }
            }
          }
          .head {
            font-size: 24px;
            font-weight: bold;
            position: relative;
            margin-right: 40px;
            &::before {
              content: "1";
              position: absolute;
              width: 60px;
              height: 60px;
              color: #337bfc;
              text-align: center;
              line-height: 60px;
              left: -76px;
              font-weight: bold;
              font-size: 24px;
              top: 50%;
              transform: translateY(-50%);

              border-radius: 50%;
              background-image: linear-gradient(-180deg, #fbfeff, #e6faff);
            }
          }
          &:nth-child(2) {
            .head {
              &::before {
                content: "2";
              }
            }
          }
          &:nth-child(3) {
            .head {
              &::before {
                content: "3";
              }
            }
          }
          &:nth-child(4) {
            .head {
              &::before {
                content: "4";
              }
            }
          }
          &:nth-child(5) {
            .head {
              &::before {
                content: "5";
              }
            }
          }
        }
      }
    }
  }
  .box4 {
    background-color: #f9f9f9 !important;
    background-image: none !important;
    height: auto !important;
    .w {
      width: 880px;
      margin:0 auto;
    }
    .w .title span:nth-child(1) {
      color: #000 !important;
    }
    .item{
      margin-bottom: 30px;
      &:last-child{
        margin:0;
      }
       >h1{
        color: #000;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 12px;
        position: relative;
        &::before{
           content:'Q：';
          color: #5b8ffc;
          position: absolute;
          top:0;
          left: -30px;
          font-size: 18px;
        }
       }
       >p{
        position: relative;
        color: #666666;
        font-size: 16px;
        &::before{
          position: absolute;
          content:'A：';
         color: #5b8ffc;
         font-size: 18px;
         font-weight: bold;
         left: -30px;
       }
       }
    }
  }
}
