@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, div {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
div{
  box-sizing: border-box!important;
}
/*各浏览器显示不同，去掉蓝色边框*/
fieldset, img, input, button, pre {
  border: none;
  padding: 0;
  margin: 0;
  outline-style: none;
}

pre{
  background-color: #fff;
}
ul, ol,li {
  list-style: none;
}


input {
  padding-top: 0;
  padding-bottom: 0;
  font-family: "Microsoft YaHei", "SimSun";
}
button{
  font-family: "Microsoft YaHei", "SimSun";
}

/*去掉行内替换元素空白间隙*/
select, input {
  vertical-align: middle;
}

select, input, textarea {
  font-size: 12px;
  margin: 0;
}

/*防止拖动，影响布局*/
textarea {
  resize: none;
}

/*图片与文字对齐*/
img {
  border: 0;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-weight: normal;
  font-size: 100%;
}


s, i, em {
  font-style: normal;
  text-decoration: none;
}

select{

}

