<div id="usefulPage">
	<div id="divId" style="font-size: 12px ;"></div>
	<div class="allBranchItem" ng-click="selectBranch()">
		<div class="colorItem" ng-class="{'itemBranch':!showFlag,'allBranch':showFlag}">
			
		</div>
	<div class="descript" style="margin-right:10px;">所有分支</div>
	</div>
	<!--https://blog.csdn.net/xiaozhi_2016/article/details/52065937-->
	<marquee id="affiche" align="left" behavior="scroll" bgcolor="#ade6ad" direction="up" height="100" width="200" hspace="50" vspace="20" loop="-1" scrollamount="10" scrolldelay="100" onMouseOut="this.start()" onMouseOver="this.stop()">
		尽管marquee参数不少，但毕竟不能实现复杂的和自定义的特殊跑马灯效果，而且还有浏览器限制，所以我们更多情况下会采用JavaScript来实现跑马灯滚动效果。
	</marquee>	
	<div><br/>筛选：<input id="filterName"/><br/></div>
	  <table>
	 <thead>
	  <tr><th>姓名</th><th>性别</th><th>暂住地</th></tr>
	 </thead>
	 <tbody>
	  <tr><td>张山</td><td>男</td><td>浙江宁波</td></tr>
	  <tr><td>李四</td><td>女</td><td>浙江杭州</td></tr>
	  <tr><td>王五</td><td>男</td><td>湖南长沙</td></tr>
	  <tr><td>找六</td><td>男</td><td>浙江温州</td></tr>
	  <tr><td>Rain</td><td>男</td><td>浙江杭州</td></tr>
	  <tr><td>MAXMAN</td><td>女</td><td>浙江杭州</td></tr>
	  <tr><td>王六</td><td>男</td><td>浙江杭州</td></tr>
	  <tr><td>李字</td><td>女</td><td>浙江杭州</td></tr>
	  <tr><td>李四</td><td>男</td><td>湖南长沙</td></tr>
	 </tbody>
	</table>
	
	<div><br/>筛选：<input id="filter"/><br/></div>
  <div class="content">
   赫本残酷人生真相
  </div>
  <div class="content">
   1234567890
  </div>
  <div class="content">
   bhdgvdhj
  </div>
  <div class="content">
   kjzkgxhywubhz
  </div>
  
   <div class="content">  
	    <button id="add">添加</button>  
	    <button id="onadd">on添加</button>  
	    <ul id="ul">  
	        <li>菜单一 <span>删除</span></li>  
	        <li>菜单二<span>删除</span></li>  
	        <li>菜单三<span>删除</span></li>  
	        <li>菜单四<span>删除</span></li>  
	        <li>菜单五<span>删除</span></li>  
	        <li>菜单六<span>删除</span></li>  
	    </ul>  
	</div> 
</div>

