.itemBranch{
 margin-left: 10px;
 margin-right:10px;
 background:lightcyan;
 -webkit-background-size:cover;
 background-size:cover;
}
.allBranch{
 margin-left: 10px;
 margin-right:10px;
 background:pink;
 -webkit-background-size:cover;
 background-size:cover;
}
.colorItem{
 width:100px;
 height:100px;
}
 table{ border:0;border-collapse:collapse;}
  div{font:normal 12px Arial;}
  td { font:normal 12px Arial;padding:2px;width:100px;text-align: center;}
  th{ font:bold 12px Arial;border-bottom:1px solid #333;width:100px;}
  tbody>tr:nth-child(even){
   background:#eee;
  }
  tbody>tr:nth-child(odd){
   background:#FFFFEE;
  }
  tbody>tr:hover{
   background:rgba(17,17,17,0.5);
   color:#fff;
  }