@import '../../sass/main.scss';
.fx-issue{
    background: #eee;
    width:100%;
    height:100%;
    view{
        height:auto;
    }
    .fx-content{
        background: #fff;
        overflow: hidden;
        width:100%;
        .wrapper{
            height:100%;
            width:100%;
            overflow: auto;
            padding-bottom:92rpx;
            background: #eee;
            .questionItem{
                // background:#fff;
                // margin-bottom: 20rpx;
                .title{
                    line-height:48rpx;
                    padding-top: 10rpx;
                    font-size:28rpx;
                    color:#666;
                    background:#fff;
                    padding-left: 20rpx;
                }
                
            }
        }
    }
    .fx-tips{
        background: #fff;
        height:88rpx;
        line-height:88rpx;
        font-size:28rpx;
        border-bottom:1px solid #dddddd;
        color:#4580f6;
        font-weight: bold;
        padding-left: 27rpx;
    }
    .fx-btns{
        height:92rpx;
        position:fixed;
        bottom:0;
        width:100%;
        border-top:1px solid #ddd;
        display:table-cell;
        view{
            width:50%;
            height:100%;
            float:left;
            text-align: center;
            font-size:30rpx;
        }
        .preBtn{
            color:#000;
            background:#fff;
            line-height:92rpx;
        }
        .nextBtn{
            background:#0084ff;
            color:#fff;
            line-height:92rpx;
        }
    }
}