#chart{
	width: 100%;
	height: 300px;
	background:#fff;
	position: relative;
}
#chart .title{
	position: absolute;
    left: 45%;
    top: 20px;
}
#chart #chart01{
	width: 100%;
	height:100%;
	background:#fff;
}
#circle{
	padding: 40px;
}
#circle01{
	height: 100px; 
    width:100px; 
    position: relative;
}
#circle01 svg{ 
    height:100%; 
    width:100%; 
 } 
#circle01 .percent{
  	float: left;
  	position: absolute;
  	top: 33px;
    left: 30px;
 }
#chart02{
  	width: 150px;
  	height: 150px;
  }
 #resourceProportion .ucd-vg-labels{
 	position: absolute !important;
    top: 55px !important;
    left: 45px !important;
    text-align: center;
 }

#arrow01,#arrow02{
	padding: 20px;
}
