.wylpdsj{
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #2235cd;
    .wylpdsjContent{
        background: url("../images/exercise/wylpdsj/5.jpg") #2235cd no-repeat;
        background-size: 100% auto;
        padding: r(35) r(24);
        padding-top: r(236);
    }
    .content{
        width: 100%;
        border-radius: r(15);
        background: rgba(14,53,176,0.8);
        padding:0 r(22);
        padding-bottom: r(35);
        .item{
            letter-spacing: 1px;
            .title{
                line-height: r(80);
                img{
                    width: r(33);
                    vertical-align: middle;
                }
                span{
                    font-size: r(33);
                    color: #fff;
                    font-weight: 900;
                    vertical-align: middle;
                    margin-left: r(15);
                }
            }
            .desc{
                width: 100%;
                background: #fff;
                border-radius: r(15);
                font-size: r(26);
                line-height: r(45);
                padding: r(15);
                span{
                    color: #0e36b0;
                }
            }
        }
    }
}