<div class="yourDatePlugin">

   <div class='mydatepicker' contenteditable="true"></div>
    <div class="myDate">
    <div class="year"><span class="toPreYear" ng-click="toPreYear()"><</span>{{getYear}}年<span class="toNextYear" ng-click="toNextYear()">></span></div>
    <ul class="month" ng-class="month">
     <li ng-repeat="item in items" ng-click="getRightMonth()" ng-class="{'greeMonth': isMonthGree(getYear, item)}">{{item}}</li>
    </ul>
    <div class="btns">
     <div class="makeSureBtn">确定</div>
     <div class="cancelBtn">取消</div>
    </div>
    <div class="msgBoxModal">
    </div>
   </div>
   
  </div>