$baseFontSize: 75;
$font-size-base: 16px; //基础字体大小
@function r($px){//$px为需要转换的字号
    @return $px / $baseFontSize * 1rem;
}
@mixin px2rems($pxs){
    @each $key, $value in $pxs{
        #{$key}: $value/$baseFontSize * 1rem;
    }
}
.design-nav{
    width:r(750);
    height:r(90);
    background:#f5ca46;
    display:flex;
    position:fixed;
    bottom:0;
    left:50%;
    transform: translate(-50%);
    &>a{
        color:#fff;
        font-size:r(32);
        width:25%;
        height:r(90);
        line-height:r(90);
        text-align: center;
    }
}