.content_wrap .content{
	padding-top:10px;
	width:100%;
	height:300px;
	overflow: hidden;
}
.content_wrap .content>dl{
	margin:0 1%;
	width:23%;
	height:100%;
	float:left;
	position:relative;
	border: 1px dotted rgba(255,0,0,0.8);
}
.content_wrap .content>dl>.content_dt{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	text-align: center;
}

.content_wrap .content>dl>.content_dd{
	padding:0 10px;
	text-align: right;
	width:100%;
	height:0px;
	background:rgba(255,0,22,1);
	left:0;
	bottom:0;
	position:absolute;
	font-size:16px;
	font-weight: bold;
}
.content_wrap .content>dl>.content_dd_active{
	height:40px;
}
.content_wrap .content>dl>dd>div{
	line-height: 40px;
	width:40%;
	display: inline-block;
	color:#fff;
}
.content_wrap .content>dl>dt>img{
	height:100%;
}
@-webkit-keyframes content_hide{
	0% {height:40px;}
	100% {height:0;}
}
@keyframes content_hide{
	0% {height:40px;}
	100% {height:0;}
}
@-webkit-keyframes content_show{
	0% {height:0;}
	100% {height:40px;}
}
@keyframes content_show{
	0% {height:0;}
	100% {height:40px;}
}