.swiper_wrap{
	width:100%;
	height:300px;
	overflow: hidden;
	position: relative;
}
.swiper_wrap>.container{
	width:100%;
	height:300px;
}
.swiper_wrap>.container>.item{
	float:left;
	width:100%;
	height:300px;
	display: none;
}
.swiper_wrap>.container>.item>img{
	height:300px;
	width:100%;
}
.swiper_wrap>.container>.item_active{
	display:block;
	position:absolute;
	left:0;
	top:0;
}
.swiper_wrap>.container>.item_still_active{
	display:block;
	animation: hide 2s ease-out;
}
@-webkit-keyframes hide{
	0% {display:block;}
	100% {display:none;}
}
@keyframes hide{
	0% {display:block;}
	100% {display:none;}
}
@-webkit-keyframes show{
	0% {opacity:0;}
	100% {opacity:1;}
}
@keyframes show{
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes move{
	0% {left:100%;}
	100% {left:0;}
}
@keyframes move{
	0% {left:100%;}
	100% {left:0;}
}
.slip_bar{
	width:40px;
	height:40px;
	position:absolute;
	cursor: pointer;
	top:140px;
}
.left_slip_bar{
	left:10px;
	background:url(../images/left-arrow-b.png);
	background-size: contain;
}
.right_slip_bar{
	right:10px;
	background:url(../images/right-arrow-b.png);
	background-size: contain;
}
.slip_changes{
	position:absolute;
	top:270px;
	right:10px;
	width:200px;
	height:30px;
}
.slip_changes>div{
	margin:5px 15px;
	width:20px;
	height:20px;
	float:left;
	text-align: center;
	line-height: 20px;
	background:#ccc;
	color:#fff;
	border-radius:50%;
	cursor: pointer;
}
.slip_changes .slip_active{
	background:green;
}