.waterfall_item{
	/*width:24%;*/
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 5px;
	float: left;
	margin-top: 5px;
	-webkit-column-break-inside: avoid;
	break-inside: avoid;
    counter-increment: item-counter;
    cursor: pointer;
}

.waterfall_item > img{
	width:100%;
	border-radius: 5px;
}

.waterfall_item > .waterfall_detail{
	margin-top: 10px;
	font-family:"Times New Roman","Arial";
	/*根据font-family的原则，假如客户终端不认识前面的字体，就自动切换到第二种字体，第二种不认识就切换到第三种*/
}

.waterfall_item > .waterfall_detail > span{
	display: block;
}

.waterfall_item > .waterfall_detail > .title{
	font-size: 18px;
	color: #000;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
}

.waterfall_item > .waterfall_detail > .description{
	font-size: 14px;
	color: #333;
	margin-top: 5px;
}

.waterfall_item > .waterfall_detail > .author{
	font-size: 16px;
	color: #ccc;
	text-align: right;
	font-style: italic;
}